{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <section class="bg-form">
        <div class="form-div">
            <div class="container">
                <div class="bg-colordiv">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="form-box">
                                <h2><span>Welcome to BAH'ES</span></h2>
                                <div class="form-title mb-4 mt-4">
                                    Forgot Password?
                                </div>
                                <div>
                                    {% if messages %}
                                        {% for message in messages %}
                                            
                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                                                    <strong>{{message}}</strong>
                                                </div>
                                                
                                            {% else %}
                                                
                                                <div class="alert alert-success alert-dismissible" style="text-align: left;">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                                                    <strong>{{message}}</strong>
                                                </div>
                                            {% endif %}
                                            
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <!-- {{form.email}} -->
                                        <input type="email" id="myText" placeholder="Email" name="email" class="input-style"/>
                                        <p class="Resetting">Don't worry! Resetting your password is easy, Just type the email you registered with.</p>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary send_mail" id="btnImageloading">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img  class="logo-form-shadow" src="{% static 'images/form-logo.jpg' %}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">OTP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: -webkit-center;">
                    
                    
                </div>
               
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal-6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-6" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label >New Password</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter New Password ">
                    </div>
                    <div class="form-group">
                        <label >Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Confirm  Password">
                    </div>
                    <div class="modal-footer">
                        
                        <a href="login.php"> <button type="button" class="btn btn-primary">Submit</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).on("click",".send_mail",function(){
var email=document.getElementById("myText").value;
// console.log(email)
$('#btnImageloading').html('<img src="http://www.bba-reman.com/images/fbloader.gif" />');  
$.ajax({
method:"GET",
url :"/account/forgot-password-otp/"+email,
dataType:"html",
success:function(data)
{
  $("#btnImageloading").html('Send');
    if(data == 'False'){
      window.location.href="{% url 'account:ForgotPassword'%}"
    }
    else{
      
         $("#exampleModal .modal-body").html(data);
    $("#exampleModal").modal("show");

    }
   
}

});
});
</script>

{% endblock %}