<div>
	{% if messages %}
		{% for message in messages %}
			
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
				<div class="alert alert-danger alert-dismissible" style="text-align: left;">
					<a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
					<strong>{{message}}</strong>
				</div>
				
			{% else %}
				
				<div class="alert alert-success alert-dismissible" style="text-align: left;">
					<a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
					<strong>{{message}}</strong>
				</div>
			{% endif %}
			
		{% endfor %}
	{% endif %}
</div>
<label><span class="normal">Please Enter Your </span>confirmation code</label>
<div class="confirmation_code split_input large_bottom_margin" data-multi-input-code="true">
	<form method="POST">
	<div class="confirmation_code_group">
		
		<div class="split_input_item input_wrapper"><input type="text" id="myText1" class="inline_input" maxlength="1" onkeyup="movetoNext(this, 'myText2')"></div>
		<div class="split_input_item input_wrapper"><input type="text" id="myText2"class="inline_input" maxlength="1" onkeyup="movetoNext(this, 'myText3','myText1')"></div>
		<div class="split_input_item input_wrapper"><input type="text" id="myText3" class="inline_input" maxlength="1" onkeyup="movetoNext(this, 'myText4','myText2')"></div>
		<div class="split_input_item input_wrapper"><input type="text" id="myText4" class="inline_input" maxlength="1" onkeyup="movetoNext(this, '','myText3')"></div>
	</div>
</div>
<div class="modal-footer">
	
	<button type="button" class="btn btn-primary new_password">Submit</button>
</div>
</form>
<script type="text/javascript">
// function combine(form) {
// form.u_address.value = form.myText1.value + " " + form.myText1.value+" "+form.myText3.value + " " + form.myText4.value;
// console.log(form.myText1.value);
// }
$(document).on("click",".new_password",function(){
var otp1=document.getElementById("myText1").value;
var otp2=document.getElementById("myText2").value;
var otp3=document.getElementById("myText3").value;
var otp4=document.getElementById("myText4").value;

var otp=otp1+otp2+otp3+otp4;
var email='{{email}}'

$.ajax({
method:"GET",
url :"/account/check-reset/"+otp+'/'+email,
dataType:"html",
success:function(data)
{
	
	if(data == 'False')
	{
	alert("Entered OTP is not correct")	
	
	}
	else{
	 $("#exampleModal").modal("hide");
	$("#exampleModal-6 .modal-body").html(data);
	$("#exampleModal-6").modal("show");

	}
}
});
});
</script>


 <script type="text/javascript">
function movetoNext(current, nextFieldID,privesFieldId) {
if (current.value.length >= current.maxLength) {
document.getElementById(nextFieldID).focus();
}
if (current.value.length == 0) {
document.getElementById(privesFieldId).focus();
}

}
</script>