{% extends 'base_template.html' %}
{% load static %}
{% block content %}
<style>
    ul.social-dots {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
a.face-book {
    background: #395697;
    color: #fff;
    font-size: 15px;
    padding: 9px 26px;
    text-decoration: none;
        border-radius: 5px;

}
a.goo-gle {
    padding: 9px 26px;
    font-size: 15px;
    border: 1px solid #ccc;
    color: #2b333a;
    text-decoration: none;
        border-radius: 5px;

}
i.fa.fa-facebook-square {
    position: relative;
    right: 8px;
}
.goog-le{
    position: relative;
    right: 6px;
    width: 14px;
}
a.twitter {
    padding: 9px 26px;
    color: white;
    background: #1da1f2;
    font-size: 15px;
    text-decoration: none;
        border-radius: 5px;

}
i.fa.fa-twitter {
    position: relative;
    right: 7px;
}
</style>
    <section class="bg-form">
        <div class="form-div">
            <div class="container">
                <div class="bg-colordiv">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="form-box">
                                <h2><span>Welcome to BAH'ES</span></h2>
                                <div>
                                    {% if messages %}
                                        {% for message in messages %}
                                            
                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                                                    <strong>{{message}}</strong>
                                                </div>
                                                
                                            {% else %}
                                                
                                                <div class="alert alert-success alert-dismissible" style="text-align: left;">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                                                    <strong>{{message}}</strong>
                                                </div>
                                            {% endif %}
                                            
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-title mb-4 mt-4">
                                    LOGIN
                                </div>
                                <form method="post" class="login-form" action="">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <!-- {{form.username}} -->
                                        <input type="email" placeholder="Email" name="email"class="input-style" required="" />
                                    </div>
                                    <div class="form-group">
                                        <!-- {{form.password}} -->
                                        <input type="password" placeholder="Password" name="password" class="input-style" required="" />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </form>
                                    <a href="{% url 'account:ForgotPassword' %}" style="float:right;" class="flaot-forgot">Forgot password?</a>
                                    
                                </div>
                                <div class="form-group">
                                    <div class="sign-up">
                                       <span> Don't have an account?</span> <a href="{% url 'account:UserType' %}">Register Now.</a>
                                     
                                    </div>
                                </div>
                                <div class="social">
                                    <ul class="social-dots">
                                        <li class="facebook">
                                               <a href="{% url 'social:begin' 'facebook' %}" class="face-book"><i class="fa fa-facebook-square" aria-hidden="true"></i>Sign in with Facebook</a>
                                        </li>
                                        <li class="Google">
                                               <a href="{% url 'social:begin' 'google-oauth2' %}" class="goo-gle"><img src="{% static 'images/icon/search.png'%}" class="goog-le">Sign in with Google</a>
                                        </li>
                                        <li class="Twitter">
                                               <a href="{% url 'social:begin' 'twitter' %}" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Sign in with Twitter</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img  class="logo-form-shadow" src="{% static 'images/form-logo.jpg' %}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block script %}
<script>
$(document).ready(function(){

$("#id_username").addClass('input-style');
$("#id_username").attr("placeholder", "email");
});

$(document).ready(function(){

$("#id_password").addClass('input-style');
$("#id_password").attr("placeholder", "password");
});

</script>
{% endblock %}