<span id = "message" style="color:red"> </span> 
 <form >

                    <div class="form-group">
                        <label >New Password</label>
                        <input type="password" class="form-control" id="pswd1" aria-describedby="emailHelp" name="password1" placeholder="Enter New Password ">
                    </div>
                    <div class="form-group">
                        <label >Confirm Password</label>
                        <input type="password" class="form-control" id="pswd2" name="password2" placeholder="Enter Confirm  Password">
                    </div>
                    <div class="modal-footer">
                        
                        <!-- <a href="login.php"> </a> -->
                        <button type="button" class="btn btn-primary" onclick="matchPassword()">Submit</button>
                    </div>
                </form>

<script>
function matchPassword() 
{
  var pw1 = document.getElementById("pswd1").value;
  var pw2 = document.getElementById("pswd2").value;

  var email ='{{email}}'
  
  if(pw1 == pw2)
  { 
    var dataString = 'pw1='+pw1+'&pw2='+pw2+'&email='+email;
    var token = '{{csrf_token}}';
 
    $.ajax({
    method:"POST",
     headers: { "X-CSRFToken": token },
    url :"/account/newpassword-done",
    data: dataString,
    dataType:"json",
    cache: false,
    success:function(data)
    {
       
        window.location.href="{% url 'account:login'%}"
      
    }
    });
  } 
  else {
    alert( "Passwords mismatched,please enter correct passwords");
         // document.getElementById("message").innerHTML = "**Passwords mismatched, enter correct passwords";

   
  }
}
</script>
