
{% extends 'base_template.html' %}
{% load static %}
{% block content %}

<section class="bg-form">
<div class="form-div">
<div class="container">
<div class="bg-colordiv">
<div class="row no-gutters">
<div class="col-md-8">
<div class="form-box">
<h2><span>Welcome to BAH'ES</span></h2>
<div class="form-title mb-4 mt-4">
Forgot Password?
</div>
  {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                  {% endif %}

<div class="alert alert-info">The password reset link has been sent to your email address. If you haven't received the link then check your email, enter the correct email and try again.</div>
 <a href="{% url 'PasswordReset' %}" >Click here to try again</a> 
</div>
</div>

<div class="col-md-4">
<img  class="logo-form-shadow" src="{% static 'images/form-logo.jpg' %}" alt=""/>
</div>


</div>
</div>
</div>
</div>

</section>

{% endblock %}
{% block script %}
<script>

$(document).ready(function(){

$("#id_email").addClass('input-style');
$("#id_email").attr("placeholder", "email");
});

</script>
{% endblock %}