
{% extends 'base_template.html' %}
{% load static %}
{% block content %}

<section class="bg-form">
<div class="form-div">
<div class="container">
<div class="bg-colordiv">
<div class="row no-gutters">
<div class="col-md-8">
<div class="form-box">
<h2><span>Welcome to BAH'ES</span></h2>
							{% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger alert-dismissible">
                                            	<a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger alert-dismissible">
                                        	<a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                  {% endif %}
<div class="form-title mb-4 mt-4">
PASSWORD RESET
</div>
 <form method="post" class="login-form" action="">

{% csrf_token %}
<div class="form-group">
	{{form.new_password1}}
<!-- <input type="email" placeholder="Email" class="input-style"/> -->
</div>
<div class="form-group">
	{{form.new_password2}}
<!-- <input type="password" placeholder="Password" class="input-style"/> -->
</div>



<div class="form-group">
<button type="submit" class="btn btn-primary">Submit</button>
			
</div>
</form>


</div>
</div>

<div class="col-md-4">
<img  class="logo-form-shadow" src="{% static 'images/form-logo.jpg' %}" alt=""/>
</div>


</div>
</div>
</div>
</div>

</section>

{% endblock %}
{% block script %}
<script>
$(document).ready(function(){

$("#id_new_password1").addClass('input-style');
$("#id_new_password1").attr("placeholder", "new password");
});

$(document).ready(function(){

$("#id_new_password2").addClass('input-style');
$("#id_new_password2").attr("placeholder", "confirm password");
});

</script>
{% endblock %}