
{% extends 'base_template.html' %}
{% load static %}
{% block content %}

<section class="bg-form">
<div class="form-div">
<div class="container">
<div class="bg-colordiv">
<div class="row no-gutters">
<div class="col-md-8">
<div class="form-box">
<h2><span>Welcome to BAH'ES</span></h2>



<div class="alert alert-info">Your password has been changed.</div>
<a href="{% url 'account:login' %}">Click here to Login</a> 
</div>
</div>

<div class="col-md-4">
<img  class="logo-form-shadow" src="{% static 'images/form-logo.jpg' %}" alt=""/>
</div>


</div>
</div>
</div>
</div>

</section>

{% endblock %}
