{% extends 'base_template.html' %}
{% load static %}
{% block content %}
  <section class="bg-form">
    <div class="form-div">
      <div class="container">
        <div class="bg-colordiv">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="form-box">
                <h2><span>Welcome to BAH'ES</span></h2>
                <div>
                  {% if form1 %}
                    {% for field in form1 %}
                      
                      {% if field.errors %}
                   
                        {% if field.label == 'Username' %}
                          <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                            <strong>Email already exists or Email format is wrong</strong>
                          </div>
                        {% else %}
                          <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                            <strong>password mismatching , please try again</strong>
                          </div>
                          
                          <!-- {{field.label}} -->
                        {% endif %}
                        
                      {% endif %}
                      
                    {% endfor %}
                  {% endif %}
                  {% if form2 %}
                    {% for field in form2 %}
                      {% if field.errors %}
                        {% if field.label == 'Phone' %}
                          <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                            <strong>Phone already exists with another user</strong>
                          </div>
                        {% else %}
                          {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissible">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                              <strong>{{ error|escape }}</strong>
                            </div>
                          {% endfor %}
                          {{field.label}}
                        {% endif %}
                        
                        
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  <!-- {% if messages %}
                    
                    {% if messages %}
                      {% for message in messages %}
                        
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                          <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                            <strong>{{message}}</strong>
                          </div>
                          
                        {% else %}
                          
                          <div class="alert alert-success alert-dismissible" style="text-align: left;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                            <strong>{{message}}</strong>
                          </div>
                        {% endif %}
                        
                      {% endfor %}
                    {% endif %}
                  {% endif %} -->
                </div>
                <div class="form-title mb-4 mt-4">
                  Registration
                </div>
                <form method="POST" >
                  {% csrf_token %}
                  <div class="form-group">
                    {{form2.full_name}}
                  </div>
                  <div class="form-group">
                    {{form2.country}}
                  </div>
                  <div class="form-group">
                    <div class="numberinput">
                      <span>
                        {{form2.tel_code}}
                        <!-- <input type="tel" placeholder="XXX" class="input-style"/> -->
                      </span>
                      {{form2.phone}}
                    </div>
                  </div>
                  <div class="form-group">
                    
                    <!-- {{form1.email}} -->
                    <!-- <input type="text" placeholder="email" name="email" class="input-style"/> -->
                    {{form1.username}}
                  </div>
                  <div class="form-group">
                    {{form1.password1}}
                  </div>
                  <div class="form-group" enctype="multipart/form-data" >
                    {{form1.password2}}
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                      <label for="flexCheckDefault">
                        I accept all the <a href="{% url 'custom_app:TermsOfServices'%}" class="form-check-label" >Terms and Conditions.</a>
                      </label>
                    </div>
                  </div>
                  <input type="hidden"  name="usertype" value="{{usertype}}" />
                  <div class="form-group text-right">
                    <!-- <button type="button" class="btn btn-secondary">Back</button> -->
                    <a href="{% url 'account:UserType' %}" class="btn btn-secondary" onclick="goBack()">Back</a>
                    <button type="submit" class="btn btn-primary">Register</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <img  class="logo-form-shadow" src="{% static 'images/form-logo.jpg' %}" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock  %}
{% block script %}
  <script type="text/javascript">
  $(".set_number_only").keydown(function (e) {
  // Allow: backspace, delete, tab, escape, enter and .
  if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
  // Allow: Ctrl/cmd+A
  (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
  // Allow: Ctrl/cmd+C
  (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
  // Allow: Ctrl/cmd+X
  (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
  // Allow: home, end, left, right
  (e.keyCode >= 35 && e.keyCode <= 39)) {
  // let it happen, don't do anything
  return;
  }
  // Ensure that it is a number and stop the keypress
  if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
  e.preventDefault();
  }
  });
  
  </script>
  <script type="text/javascript">
  $(document).on("click",".country",function(){
  var country_id = $("#id_country").val();
  // console.log(country_id);
  {% if get_country %}
    {% for data in get_country %}
    // console.log('{{data.id}}');
      if({{data.id}} == country_id)
      {
      $('#tel').val('{{data.country_tel_code}}');
      }
    {% endfor %}
  {% endif %}
  });
  </script>
{% endblock %}