{% extends 'admin/admin_base_template.html' %}
{% load static %}
{% block content %}


<div class="container">

   <div>        
                        {% if messages %}
                            {% for message in messages %}
        
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                                    <strong>{{message}}</strong>
                                </div>
            
                                {% else %}
            
                                <div class="alert alert-success alert-dismissible" style="text-align: left;">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                                    <strong>{{message}}</strong>
                                </div>
                                {% endif %}
        
                            {% endfor %}
                        {% endif %}
                    </div>
	<div class="row">
		<div class="col-md-12">
       <div class="form-card no-b">
			<!-- <form style="padding: 26px 0;">
          <h3 class="add_name" style="position: relative;bottom: 12px;">Change Password</h3>
  <div class="form-group">
  
    <input type="Password" class="form-control"  placeholder="Old Password">
    
  </div>
  <div class="form-group">
   
    <input type="password" class="form-control"  placeholder=" New Password">
  </div>

  <div class="form-group">
    
    <input type="password" class="form-control"  placeholder=" Confirm Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<form method="post" autocomplete="off">
                          {% csrf_token %}
                        <div class="form-group">
                              <label for="profile.currentPassword">

                                  *
                                  {{form.old_password.label_tag}}
                              </label>
                              <input type="password" name="old_password" autofocus="" placeholder="Old Password" required="" id="id_old_password" class="form-control">
                                <!-- {{form.old_password}} -->
                                <span style="color:red;">{{form.old_password.errors}}</span>
                          </div>
                        <div class="form-group">

                        <label for="profile-newPassword">

                            *
                            {{form.new_password1.label_tag}}
                        </label>
                        <input type="password" name="new_password1" required="" placeholder="New Password" class="form-control" id="id_new_password1">
                          <span style="color:red;">
                          {{form.new_password1.errors}}
                        </span>

                  </div>
                    <div class="password-info-rules form-group">
                           {% if form.new_password1.help_text %}
                            <div class="help">{{form.new_password1.help_text|safe}}</div>
                          {% endif %}
                    </div>


                           <div class="form-group">
                           <label for="profile.checkNewPassword">

                               *
                               {{form.new_password2.label_tag}}<span class="skip"></span>
                           </label>
                         <input type="password" name="new_password2" placeholder="Confirmation Password" required="" class="form-control" id="id_new_password2">
                            <span style="color:red;">
                             {{form.new_password2.errors}}
                           </span>
                       </div>
                       <div class="password-info-rules form-group">
                              {% if form.new_password2.help_text %}
                               <div class="help">{{form.new_password2.help_text|safe}}</div>
                             {% endif %}
                             </div>
                           <div class="form-group">
                           <a href=""><button type="button" class="btn btn-primary space-right" >Cancel</button></a>
                        <button type="submit" class="btn btn-primary">Update</button>
                     </div>
                  </form>
		</div>
	</div>
</div>

</div>

{% endblock %}