<div class="ksd-pay bg-colorform">

	{% if get_registration_fee %}
	{% for data in get_registration_fee %}
	<p>{{data.content}}</p>
	<h2>{{data.amount}}</h2>
	
	<a href="javascript:void(0)" data-amount="{{data.amount}}" class="pay-now customer_payment_done">Pay Now</a>
{% endfor %}
	{% endif %}
</div>


<script type="text/javascript">
//--------- Customer Payment Done start----------------
$(document).on("click",".customer_payment_done",function(){

    	var amount = $(this).data("amount");
    	console.log(amount);
         // var token = '{{csrf_token}}';
            $.ajax({
                // headers: { "X-CSRFToken": token },
                url: "/find-supplier/customer-payment-done",
                type: "GET",
                dataType:"json",
                data:{ amount :amount},
                success: function (data) {
                	// console.log(data);
                	$("#exampleModal").modal("hide");
                   
                    swal({
			          title: 'Payment successfully done',
			          
			         
			          buttons: {
			           
			            confirm: {
			              text: "OK",
			              value: true,
			              visible: true,
			              closeModal: true
			            },
			          }
			         },
			           function(isConfirm){ location.reload();});
                        
                }
            });
          
       
       
      });
//--------Customer Payment Done end----------------
</script>