{% extends 'base_template.html' %}
{% load static %}
{% block content %}
	<div class="banner-profile" style="background: url({{'findsupplier'|get_banner_img}}) no-repeat center top;">
		<div class="profile-overlay">
			<div class="container">
				<div class="heading-title supplies text-center">
					<h1>
					<div class="left-cricle"></div>
					<div class="right-cricle"></div>
					<span>Suppliers</span></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="breadcr4eam">
		<div class="container">
			<nav class="breadcrumb-new">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'findsupplier:FindSupplier'%}">Suppliers</a></li>
					
				</ol>
			</nav>
			
		</div>
	</div>
	<section class="bg-lightshow">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="supliers-left">
						<h3>Filter</h3>
						<div class="filter-menu">
							<div class="accordion" id="faq">
								<div class="card">
									<div class="card-header" id="faqhead1">
										<a href="#" class="btn-header-link" data-toggle="collapse" data-target="#faq1"
										aria-expanded="true" aria-controls="faq1">Products</a>
									</div>
									<div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
										<div class="card-body">
											<ul class="filters">
												{% if get_products %}
													{% for data in get_products %}
														{% if data in get_filter_products_subcat %}
															
															<li><a href="javascript:void(0)">{{data.subcategory_name}} <span><input type="checkbox"  value="product={{data.subcategory_name}}" class="service_type" checked="" /></span></a></li>
														{% else %}
															<li><a href="javascript:void(0)">{{data.subcategory_name}} <span><input type="checkbox"  value="product={{data.subcategory_name}}" class="service_type" /></span></a></li>
														{% endif %}
													{% endfor %}
												{% endif %}
												{% if get_filter_fabric_product %}
													<li><a href="javascript:void(0)">{{get_fabric_product.category_name}} <span><input type="checkbox"  value="product={{get_fabric_product.category_name}}" class="service_type" checked="" /></span></a></li>
												{% else %}
													<li><a href="javascript:void(0)">{{get_fabric_product.category_name}} <span><input type="checkbox"  value="product={{get_fabric_product.category_name}}" class="service_type"/></span></a></li>
												{% endif %}
												<!-- <li><a href="#">Fabrics <span><input type="checkbox"/></span></a></li> -->
												<!-- <li><a href="#">Zippers <span><input type="checkbox"/></span></a></li>
												<li><a href="#">Tape <span><input type="checkbox"/></span></a></li>
												<li><a href="#">Trim Elastic <span><input type="checkbox"/></span></a></li>
												<li><a href="#">Closures <span><input type="checkbox"/></span></a></li> -->
												
											</ul>
											
										</div>
									</div>
								</div>
								<div class="card" >
									<div class="card-header" id="faqhead2">
										<a href="#" class="btn-header-link collapsed" data-toggle="collapse" data-target="#faq2"
										aria-expanded="true" aria-controls="faq2">Services</a>
									</div>
									<div id="faq2" class="collapse show" aria-labelledby="faqhead2" data-parent="#faq" style="border-bottom:0px;">
										<div class="card-body" >
											<ul class="filters">
												
												{% if get_services %}
													{% for data in get_services %}
														
														{% if data in get_filter_supplier %}
															<li><a href="javascript:void(0)">{{data.tailor_speci}} <span><input type="checkbox" value="service={{data.tailor_speci}}" class="service_type" checked="" /></span></a></li>
														{% else %}
															
															<li><a href="javascript:void(0)">{{data.tailor_speci}} <span><input type="checkbox" value="service={{data.tailor_speci}}" class="service_type" /></span></a></li>
															
														{% endif %}
													{% endfor %}
												{% endif %}
												
											</ul>
											
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="supplier_colorbox">
						<h3 class="mb-4">Suppliers
						<div class="supplier_count"><span>{{get_supplier|length}}</span>
					</div>
					</h3>
					<div class="supplier_counts">
						<h3 class="sortby" style="padding-right: 7px;">Sort By :</h3>
						<div class="dropdown">
							
							<select class="form-control" id="short_by" style="font-size:13px;">
								<option value="">sort</option>
								
								{% for data in q_list %}
									
									{% if data == q_sort_by %}
										<option  value="sort-by={{data}} " selected="">{{data}}</option>
										
										
									{% else %}
										<option value="sort-by={{data}}">{{data}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="supliers-list">
					<div class="row">
						{% if get_services %}
							{% for data in get_services %}
								{% if data in get_filter_supplier %}
							
								<div class="mb-4 border-bottom pb-4 hideservice" style="{% if get_filter_supplier|length > 1 or get_filter_products_subcat|length >= 1 or get_filter_fabric_product %}display: none{% endif %}">
									<div class="row ">
										<div class="col-md-4">
											<div class="supplier-services-box">
												<img src="{{data.img.url}}" alt="">
												<h4>{{data.tailor_speci|upper}}</h4>
											</div>
										</div>
										<div class="col-md-8">
											<div class="supplier-subit">
												<h3>{{data.tailor_speci|upper}}</h3>
												<p>{{data.description|slice:'0:450'}}{% if data.description|slice:'451:' %}<a href="{% url 'findservices:FindServices'%}?&service={{data.tailor_speci}}"  style="text-decoration: none;padding-left: 18px">read more . . .</a>{% endif %}</p>

												
											</div>
										</div>
									</div>
								</div>
									
								{% endif %}
							{% endfor %}
						
						{% endif %}
						{% if get_supplier %}
							{% for data in get_supplier %}
								
								<div class="col-md-4 mb-4">
									<!-- <div class="suppliers-box-slider sub-slider-1 suppliers-list-box"> -->
									{% if data.user_id.userx.image %}
										
										<div class="suppliers-box-slider sub-slider-1 suppliers-list-box" style="background-image:url({{data.user_id.userx.image.url}})">
											
										{% else %}
											<div class="suppliers-box-slider sub-slider-1 suppliers-list-box"style="background-image:url({% static 'images/dummy-image.png' %})">
											{% endif %}
											
											<div class="overlay-sup">
												
												<div class="sup-div" >
													<a href="{% url 'findsupplier:SupplierView' data.user_id.id %}" data-maxlength="10" target="blank">
														<div class="Name-razamurad">{{data.user_id.userx.full_name|upper}}</div>
														<!--  <div class="name-sup">Name</div>
														<div class="surname">Raza Murad</div> -->
													</a>
												</div>
												
												
												
												<div class="sup-div">
													<a href="{% url 'findsupplier:SupplierView' data.user_id.id %}" data-maxlength="10" target="blank">
														<div class="name-sup">Location</div>
														<div class="surname">{{data.country_id.country_name}}</div>
													</a>
												</div>
												
												<div class="sup-div">
													<a href="{% url 'findsupplier:SupplierView' data.user_id.id %}" data-maxlength="10" target="blank">
														<div class="name-sup">Specialization</div>
														<div class="surname">{{data.tailor_speci_id}}</div>
													</a>
												</div>
												
												<div class="sup-div ">
													<a href="{% url 'findsupplier:SupplierView' data.user_id.id %}" data-maxlength="10" target="blank">
														<div class="name-sup">Experience</div>
														<div class="surname">{{data.tailor_experience}}</div>
													</a>
												</div>
												<div class="sup-div ">
													<a href="{% url 'findsupplier:SupplierView' data.user_id.id %}" data-maxlength="10" target="blank">
														<div class="name-sup">Multinational Shipping</div>
														{% if data.ship_outside_country == True %}
															<div class="surname">Yes</div>
														{% else %}
															<div class="surname">No</div>
														{% endif %}
													</a>
												</div>
												
												<div class="sup-div">
													<a href="{% url 'findsupplier:SupplierView' data.user_id.id %}" data-maxlength="10" target="blank">
														<div class="name-sup">Targeted Customer</div>
														{% if data.targeted_customer %}
															
															<div class="surname">{% for data in data.targeted_customer.all %}{{data}} {% endfor %}</div>
															
														{% endif %}
													</a>
												</div>
												
												<div class="sup-div">
													<a href="{% url 'findsupplier:SupplierView' data.user_id.id %}" data-maxlength="10" target="blank">
														<div class="name-sup">Gender</div>
														{% if data.tailor_staff_gender %}
															
															<div class="surname">{% for data in data.tailor_staff_gender.all %}{{data}} {% endfor %}</div>
															
														{% endif %}
													</a>
												</div>
												
												
												<a href="{% url 'findsupplier:SupplierView' data.user_id.id %}" target="blank" style="text-decoration: none;"><div class="view-profile"><i class="fa fa-eye"></i> View Profile</div></a>
												
												
											</div>
											
										</div>
									</div>
								{% endfor %}
								{% else %}
								<div class="col-md-4 mb-4 ml-5"><h3>Currently no supplier available</h3></div>
							{% endif %}
						</div>
						<nav aria-label="Page navigation " class="supplier-pagination">
							
							{% if get_supplier.has_other_pages %}
								<ul class="pagination justify-content-center">
									{% if get_supplier.has_previous %}
										<li class="page-item"><a class="page-link" href="?page={{ get_supplier.previous_page_number }}">Previous</a></li>
									{% else %}
										<li class="disabled page-item"></li>
									{% endif %}
									{% for i in get_supplier.paginator.page_range %}
										{% if get_supplier.number == i %}
											<!-- <li class="active page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li> -->
											<li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
										{% else %}
											<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
										{% endif %}
									{% endfor %}
									{% if get_supplier.has_next %}
										<li class="page-item"><a class="page-link" href="?page={{ get_supplier.next_page_number }}">Next</a></li>
									{% else %}
										<li class="disabled page-item"></li>
									{% endif %}
								</ul>
							{% endif %}
						</nav>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Modal -->
	<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="view-profile-div">
					<div class="ksd">
							<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content ">
											<span class="close-box" data-dismiss="modal" aria-label="Close">
													<i class="fa fa-times" aria-hidden="true"></i>
											</span>
											<div class="modal-body padding-ksd">
												</div>
											
									</div>
							</div>
					</div>
					
			</div>
	</div> -->
{% endblock %}
{% block script %}
	<script type="text/javascript">
	$(document).on('change',"#short_by",function(){
	var short_by = $(this).val();
	// alert(short_by);
	window.location.href = short_by;
	set_short_filter(short_by);
	});
	$(document).on("change",".filters",function(){
	// alert('hello');
	set_short_filter();
	});
	function set_short_filter(set_filter="")
	{
	// $(".filters :checkbox").click(function() {
	var service_type = "";
	$(".service_type:checked").each(function(i){
	service_type = service_type+"&"+$(this).val();
	// console.log(service_type);
	// if(i>0){
	//   $(".hideservice").css("display", "none");
	// }
	
	});
	var setfilterURL = "";
	if(service_type){setfilterURL = setfilterURL+service_type};
	if(set_filter){ setfilterURL = setfilterURL+"&"+set_filter; }
	// console.log(setfilterURL);
	window.location.href = "?"+setfilterURL;
	// });
	}
	//--------- Customer Payment start----------------
	// $(document).on("click",".customer_payment",function(){
	// var id = $(this).data("id");
	// $.ajax({
	//   method:"GET",
	//   url :"/find-supplier/customer-payment/"+id,
	//   dataType:"html",
	//   success:function(data)
	//   {
	
	//  $("#exampleModal .modal-body").html(data);
	//      $("#exampleModal").modal("show");
		
	//   }
	// });
	// });
	//--------Customer Payment end----------------
	</script>
{% endblock %}