{% extends 'admin/admin_base_template.html' %}
{% load static %}
{% block content %}
<!----------------COntent start-------------->
<section id="content-wrapper">
   <div class="container-fluid">
      <div class="row p-t-b-20">
         <div class="col-md-12">
            <div class="form-card no-b">
               <div class="login-form-card">
                  <h3 class="add_name">Manage Order</h3>
                   <!-- <a href="add-operator.php" class="add-btn "  style="position: absolute;top: 7%;right: 4%;"><i class="fa fa-plus mr-5"></i>Add</a> -->
                       <form method="GET">
              <div class="row">

                <div class="col-md-12">
                  <label for="inputDate">Date</label>
                </div>
                
                <div class="col-md-4">
                <div class="form-group">
                  
                  <input type="text" class="form-control" id="inputDate" name="from_date" placeholder="From date" required="" value="{{from_date|default:''}}">
                </div>
              </div>
                <div class="col-md-4">
                <div class="form-group">
                  
                  <input type="text" class="form-control" id="inputDate-1" name="to_date" placeholder="To date" required="" value="{{to_date|default:''}}">
                </div>
              </div>
            <div class="col-md-2">
              <div class="form-group">
                 <button type="submit" class="btn btn-primary" >search</button>
              </div>
            </div>
              </div>
             
              </form>
            <!--  <form style="padding: 15px 0;position: relative;top: 8px;left: 71%;">
                <label class="searchh">Search:<input type="search" class="form-control" placeholder="" aria-controls="example"></label>
             </form> -->
             <div style="position: relative;bottom: 36px;">
                 <div class="div-table">
                  <div class="table-responsive">
                     <table id="example-2" class="table table-striped " style="width:100%">
                        <thead>
                           <tr>
                            
                              <th class="question-1"> Payment Date</th>
                              <th> Name</th>
                              <th>Phone Number</th>
                              <th>Email</th>
                              <th>User Type</th>
                              <th>Amount Paid</th>
                              <th>Payment Status</th>
                              
                        
                           </tr>
                        </thead>
                        <tbody>
                           {% if get_user_payements %}
                             {% for data in get_user_payements %}
                            
                           <tr>

                              <td >{{data.payment_date|date:'d/m/Y'}}</td>
                              <td>{{data.user_id.userx.full_name}}</td>
                              <td>{{data.user_id.userx.phone}}</td>
                              <td>{{data.user_id.email}}</td>
                              <td>{{data.user_id.userx.user_type.type_name}}</td>
                              <td>{{data.amount}}</td>
                              <td>
                                {% if data.payment_status %}
                                   <button class="btn btn-success pushme2 with-color btn-danger">PAID</button>
                                   {% else %}
                                    <button class="btn btn-success pushme2 with-color btn-danger">UNPAID</button>
                                    {% endif %}
                                  </td>
                        
                           </tr>
                        
                          {% endfor %}
                          {% endif %}
                        </tbody>
                     </table>
                  </div>
                </div>
              </div>
            <!--    <div class="row">
                <div class="col-md-12 ">
               
                    
                    <nav>
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                      </ul>
                    </nav>
                  
              </div>
              </div> -->
               <!--    &nbsp;
                   <div class="dropdown">
  <button class="btn btn-primary " type="button" aria-haspopup="true" aria-expanded="false">
    Delete 
  </button>
</div> -->
               </div>
            </div>
         </div>
      </div>
   </div>



</section>











<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #2088ca;">
        <h5 class="modal-title" id="exampleModalLabel">Add Cost</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form>
         <label>Manage Content</label>
         <input type="text" name="" class="form-control" placeholder="price">
         <br>
          <label>Manage Price</label>
         <input type="text" name="" class="form-control" placeholder="price">

       </form>
       <br>
       <button class="btn btn-primary">Update</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
{% endblock %}