{% extends 'admin/admin_base_template.html' %}
{% load static %}
{% block content %}
<!----------------COntent start-------------->
<section id="content-wrapper">
  <div class="container-fluid">
    <div class="row p-t-b-20">
      <div class="col-md-12">
        <div class="form-card no-b">
          <div class="login-form-card">
            <h3 class="add_name">Customers Answers</h3>
             <form method="GET">
              <div class="row">

              
                <div class="col-md-5">
                <div class="form-group">
                  
                 <!--  <input type="text" value="{{question|default:''}}" class="form-control" name="question" placeholder="Enter Customer Question" required=""> -->

                   <div class="dropdown">
              
              <select class="form-control" id="short_by" style="font-size:13px;" name="question" required="">
                <option value="">select question</option>
                {% for data in get_question %}
               {% if data.question == question %}
                    <option  value="{{data.question}}" selected="">{{data.question}}</option>
                    
                    
                {% else %}
                    <option value="{{data.question}}">{{data.question}}</option>
                    {% endif %}
                 {% endfor %}
              </select>
            </div>
                </div>
              </div>
                <div class="col-md-2">
                <div class="form-group">
                  
               <!--    <input type="text" value="{{option|default:''}}" class="form-control" name="option" placeholder="Enter Answer Option" required=""> -->
                <div class="dropdown">
              
              <select class="form-control" id="short_by" style="font-size:13px;" name="option" required="">
                <option value="">select option</option>
                {% for data in option_list %}
               {% if data == option %}
                    <option  value="{{data}}" selected="">{{data}}</option>
                    
                    
                {% else %}
                    <option value="{{data}}">{{data}}</option>
                    {% endif %}
                 {% endfor %}
              </select>
            </div>
                </div>
              </div>
              <div class="col-md-2">
              <div class="form-group">
                 <button type="submit" class="btn btn-primary" >search</button>
              </div>
            </div>
              </div>
             
              </form>
                <div class="row " id="rmovestyleid" >
             <div class="col-md-6">
             {% if correct_Option and correct_answer %}
                <label>Correct Option :</label>
                <label style="font-weight: bold;color: #2088CA;">{{correct_Option}} </label>
                <label>({{correct_answer}})</label>
               {% endif %}
             
            </div>
           
              </div>
           <!--  <form style="padding: 15px 0;position: relative;top: 8px;left: 71%;">
              <label class="searchh">Search:<input type="search" class="form-control" placeholder="" aria-controls="example"></label>
            </form> -->
            <div class="table-responsive">
              <table id="example-2" class="table table-striped " style="width:100%">
                <thead>
                  <tr>
     
                   
                    <th>Full name</th>
                  
                    <th>Questions</th>
                    <th>Answers</th>
                  
                   
                    
                  </tr>
                </thead>
                <tbody>
                  {% if get_answer %}
                  {% for data in get_answer %}
                  {% if data.user.is_superuser %}
                  {% else %}
                  <tr>
                    
                   
                    <td style="display: flex;align-items: baseline;justify-content: space-between;">{{data.user.userx.full_name}}</td>
                    <td>   {{data.question.question}}</td>
                    {% for item in get_question %}

                     {% if data.answer|lower == item.option_a|lower %}
                    
                    <td>   <label style="font-weight: bold;color: #2088CA;">A</label> ({{data.answer}})</td>
                    {% elif data.answer|lower == item.option_b|lower %}
                    
                    <td><label style="font-weight: bold;color: #2088CA;">B</label> ({{data.answer}})</td>
                     {% elif data.answer|lower == item.option_c|lower %}
                    
                    <td><label style="font-weight: bold;color: #2088CA;">C</label> ({{data.answer}})</td>
                     {% elif data.answer|lower == item.option_d|lower %}
                    
                    <td><label style="font-weight: bold;color: #2088CA;">D</label> ({{data.answer}})</td>
                     

                    {% endif %}
                    {% endfor %}
                  </tr>
                 {% endif %}
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
         
            &nbsp;
           
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>
{% endblock %}
