{% load static %}
<div class="tab-pane" id="tabs-{{id}}" role="tabpanel">
  <form method="POST" action="/my-products/">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{userid}}">
    <input type="hidden" name="accessories" class="accessories" value="{{get_sub_cat_instance.product_category_id.id}}">
    <input type="hidden" name="equipment_id" value="{{id}}">
    <div class="form-group">
      <label for="" class="bold-font">Equipment Name</label>
        <input type="text" class="form-control" name="equipment_name" required="" placeholder="enter equipment name">
   
    </div>
     <div class="form-group">
      <label for="" class="bold-font">Brand Name(optional)</label>
        <input type="text" class="form-control" name="brand_name"  placeholder="enter brand name">
   
    </div>
    <div class="form-group">
      <label for="" class="bold-font">Country Origin</label>
      <select class="form-control" id="" required="" name="country">
        {% if get_countries %}
          <option class="active"></option>
          {% for data in get_countries %}
            {% if data.id == 117 %}
             <option value="{{data.id}}" selected="">{{data.country_name}}</option>
          {% else %}
            <option value="{{data.id}}">{{data.country_name}}</option>
            {% endif %}
          {% endfor %}
        {% endif %}
      </select>
    </div>
   
    <div class="form-group">
      <label for="" class="bold-font">Price</label>
       <div class="row">
        <div class="col-md-2">
          <select class="form-control pricee"  name="currency" required="">
            <option class="active"></option>
                        {% if get_currency %}
                           {% for data in get_currency %}

                           {% if data.currency == 'KWD' %}

                           <option value="{{data.currency}}" selected="">{{data.currency}}</option>
                           
                            {% else %}
                             <option  value="{{data.currency}}">{{data.currency}}</option>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
          </select>
        
        </div>
        <div class="col-md-10 ">
      <input type="text" class="form-control set_number_only option-clss price" maxlength="12" name="price" required="" placeholder="enter price">
    </div>
  </div>
    </div>
  
  
    
    <div class="form-group">
      <label for="" class="bold-font">Other Description</label>
      <textarea class="form-control" rows="10" name="description" required="" placeholder="enter description"></textarea>
    </div>
    <h4 class="bold-font">Upload Image</h4>
    <div class="row">
      <div class="col-md-6 upload-imgaee" style="text-align: -webkit-center;position: relative;left:22px;">
          <div class="dropzone-wrapper">
            <div class="dropzone-desc"> <i class="glyphicon glyphicon-download-alt"></i>
              <p>Choose an image file</p>
            </div>
             <div id="show_cropped_image">  </div>
            <input type="file"  id="id_Profile_Image" accept="image/*"/>
            
        
        </div>
      </div>
      
      
       <div class="col-md-6 upload-pic" style="text-align: -webkit-center;position: relative;right:22px;">
        
        
          <div class="dropzone-wrapper">
            <div class="dropzone-desc"> <i class="glyphicon glyphicon-download-alt"></i>
              <p>Choose an image file</p>
            </div>
            <div id="show_cropped_fabric_image2"></div>
            <input type="file"   id="fabric_product2" class="dropzone">
            
          
        </div>
      </div>
    </div> &nbsp;
    
    <input type="hidden" name="profilepic" id="profile_image"/>
    <input type="hidden" name="fabric_product2" id="fabric_image2">
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>


<script src='{% static "js/product_img_crop_1.js" %}'></script>
<script src='{% static "js/product_img_crop_2.js" %}'></script>


<script type="text/javascript">
  

   $(".set_number_only").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl/cmd+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: Ctrl/cmd+C
            (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: Ctrl/cmd+X
            (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
 


</script>