 			<ul class="nav nav-tabs centers" role="tablist">
                   
 					{% if get_product_subcate %}
 					{% for data in get_product_subcate %}
                      <li class="nav-item subcat"> <a class="nav-link active btn btn-primary primarys-1 blue subcate" data-toggle="tab" href="" data-id="{{data.id}}" data-slug="{{data.slug}}"role="tab">{{data.subcategory_name}}</a>
                      </li>
                      {% endfor %}
                     {% endif %}
                    </ul>
                    <div id="subcate"></div>


<script type="text/javascript">
  
  $(document).on("click",".subcate",function(){
var id = $(this).data("id");
var slug = $(this).data("slug");

$.ajax({
  method:"GET",
  url :"/my-products/subcategory/"+id+'/'+slug,
  dataType:"html",

  success:function(data)
  { 
     $("#subcate").html(data);
    
  }
});
});
</script>
