 		<div class="page-loader" style="display: none;">
 <div class="status">&nbsp;</div>
</div>
    	<ul class="nav nav-tabs centers" role="tablist">
                   
 					{% if get_product_subcate %}
 					{% for data in get_product_subcate %}
                      <li class="nav-item subcat"> <a class="nav-link active btn btn-primary primarys-1 blue subcate center" data-toggle="tab" href="" data-id="{{data.id}}" data-slug="{{data.slug}}" data-userid="{{userid}}"role="tab">{{data.subcategory_name}}</a>
                      </li>
                      {% endfor %}
                     {% endif %}
                    </ul>
                    <div id="subcate"></div>


<script type="text/javascript">
  $(document).on('click',".subcate",function(){

       $(".subcate").each(function(){
       if($(this).hasClass("product_cate"))
       {
        $(this).removeClass("product_cate");
       }
       });
       $(this).addClass("product_cate");
  });
  
  $(document).on("click",".subcate",function(){
    $('.page-loader').show();
var id = $(this).data("id");
var slug = $(this).data("slug");
var userid = $(this).data("userid");
$.ajax({
  method:"GET",
  url :"/my-products/subcategory/"+id+'/'+slug+'?userid='+userid,
  dataType:"html",

  success:function(data)
  { 
    $('.page-loader').hide();
     $("#subcate").html(data);
    
  }
});
});
</script>
