<!-- Tab panes -->
{% load static %}
<div class="tab-content">
  
  <div class="tab-pane active" id="tabs-{{id}}" role="tabpanel">
    <form method="POST" action="/my-products/" >
      {% csrf_token %}
      <input type="hidden" name="user" value="{{userid}}">
      <input type="hidden" name="accessories"  value="{{get_sub_cat_instance.product_category_id.id}}">
      <input type="hidden" name="thread" value="{{id}}">
      <div class="form-group">
        <label for="" class="bold-font">Thread Type</label>
        <select class="form-control" name="thread_type" required="">
          {% if get_thread_type %}
            <option class="active"></option>
            {% for data in get_thread_type %}
              
              <option value="{{data.id}}">{{data.name}}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
      <div class="form-group">
        <label for="" class="bold-font">Thread Price</label>
           <div class="row">
        <div class="col-md-2 pr-2">
          <select class="form-control"  name="currency" required="">
            <option class="active"></option>
                        {% if get_currency %}
                           {% for data in get_currency %}
                           
                           <!-- {% if data.symbol %}
                            <option value="{{data.id}}">{{data.symbol}}</option>
                            {% else %} -->
                              <option value="{{data.currency}}">{{data.currency}}</option>
                              {% endif %}
                          {% endfor %}
                        {% endif %}
                          </select>
          <!-- <input type="text" class="form-control set_number_only" maxlength="12" name="price" id="" required=""> -->
        </div>
        <div class="col-md-10 pl-1">
        <input type="text" class="form-control set_number_only" maxlength="12" name="price" required="">
        </div>
    </div>
      </div>
      <div class="form-group">
        <label for="" class="bold-font">Thread Available Quantity</label>
        <input type="text" class="form-control set_number_only" maxlength="12" name="quantity" required="">
      </div>
      
      
      <div class="form-group">
        <label for="" class="bold-font">Thread Available Colors</label>
        <div class="picker">
          <input type="color" value="#FFB61A" style="height: 40px;width: 50px;" id="1000000">
          <input type="text" autocomplete="off" spellcheck="false" id="2000000" name="color">
        </div>
        <fieldset>
          <!-- Text input-->
          <div id="threaditems" class="form-group">
            <div class="col-md-12 margin-bottom">
            </div>
          </div>
        </fieldset>
        <button id="threadadd" class="btn btn-primary add-more button-yellow uppercase" type="button">+ Add </button> <button type="button" id="remove1" class="btn btn-danger delete btn button-white uppercase" style="display: none;">- Remove </button>
      </div>
    
    <div class="form-group">
      <label for="" class="bold-font">Other Description</label>
      <textarea class="form-control"  rows="10" name="description" required=""></textarea>
    </div>
    <h4 class="bold-font">Upload Image</h4>
    <div class="row">
     <div class="col-md-6" style="text-align: -webkit-center;position: relative;left: 22px;">
        
          <div class="dropzone-wrapper">
            <div class="dropzone-desc"> <i class="glyphicon glyphicon-download-alt"></i>
              <p>Choose an image file</p>
            </div>
            <div id="show_cropped_image">  </div>
            <input type="file"  id="id_Profile_Image" accept="image/*"/>
            
        
        </div>
      </div>
      
      
      <div class="col-md-6" style="text-align: -webkit-center;position: relative;right: 22px;">
        
       
          <div class="dropzone-wrapper">
            <div class="dropzone-desc"> <i class="glyphicon glyphicon-download-alt"></i>
              <p>Choose an image file</p>
            </div>
             <div id="show_cropped_fabric_image2"> </div>
            <input type="file"   id="fabric_product2" class="dropzone">
            
         
        </div>
      </div>
    </div> &nbsp;
    
    <input type="hidden" name="profilepic" id="profile_image" />
    <input type="hidden" name="fabric_product2" id="fabric_image2">
    
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
</div>


<script src='{% static "js/product_img_crop_1.js" %}'></script>
<script src='{% static "js/product_img_crop_2.js" %}'></script>
<!-- script for color picker -->
<script type="">
$(document).ready(function() {
const valueInputfabric = document.getElementById('2000000');
const colorInputfabric =  document.getElementById('1000000');
// console.log(valueInputfabric);
// console.log(colorInputfabric);
// Sync the color from the picker
const syncColorFromPickerfabric = () => {
valueInputfabric.value = colorInputfabric.value;
};
// Sync the color from the field
const syncColorFromTextfabric = () => {
colorInputfabric.value = valueInputfabric.value;
};
// Bind events to callbacks
colorInputfabric.addEventListener("input", syncColorFromPickerfabric, false);
valueInputfabric.addEventListener("input", syncColorFromTextfabric, false);
// Optional: Trigger the picker when the text field is focused
valueInputfabric.addEventListener("focus", () => colorInputfabric.click(), false);
// Refresh the text field
syncColorFromPickerfabric();
});
</script>
<script type="">
$(document).ready(function() {
$("#remove1").hide();
//when the Add Field button is clicked
$("#threadadd").click(function() {
$(".delete").fadeIn("1500");
 // console.log("addthread");
//Append a new row of code to the "#items" div

var threadtext_id = $('input[type="text"]:last').attr('id');
var threadcolor_id = $('input[type="color"]:last').attr('id');
threadtext_id++;
threadcolor_id++;
$("#threaditems").append(
'<div class="picker remove1"><input type="color" value="#FFB61A" style="height: 40px;width: 50px;padding: 0px" class="form-control input-md fabriccolor" id="'+threadcolor_id+'"><input type="text" class="" autocomplete="off" spellcheck="false" class="fabrictext" name="color" id="'+threadtext_id+'"></div>'

);
var valueInputfabric = document.getElementById(threadtext_id);
var colorInputfabric =  document.getElementById(threadcolor_id);
// console.log(valueInputfabric);
// console.log(colorInputfabric);
var syncColorFromPickerfabric = () => {

valueInputfabric.value= colorInputfabric.value;
};
const syncColorFromTextfabric = () => {
colorInputfabric.value = valueInputfabric.value;
// console.log(colorInputfabric.value);
};
// Bind events to callbacks
colorInputfabric.addEventListener("input", syncColorFromPickerfabric, false);
valueInputfabric.addEventListener("input", syncColorFromTextfabric, false);
// Optional: Trigger the picker when the text field is focused
valueInputfabric.addEventListener("focus", () => colorInputfabric.click(), false);
syncColorFromPickerfabric();
});


});
$(document).on("click", "#remove1", function() {
  console.log("thread");
$(".remove1").last().remove();

});
</script>


<script type="text/javascript">
  

   $(".set_number_only").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl/cmd+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: Ctrl/cmd+C
            (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: Ctrl/cmd+X
            (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
 


</script>