{% extends 'admin/admin_base_template.html' %}
{% load static %}
{% block content %}
<!----------------COntent start-------------->
<section id="content-wrapper">
  <div class="container-fluid">
    <div class="row p-t-b-20">
      <div class="col-md-12">
        <div class="form-card no-b">
          <div class="login-form-card">
            <h3 class="add_name">Manage Customer</h3>
              <form method="GET">
              <div class="row">

                <div class="col-md-12">
                  <label for="inputDate">Date</label>
                </div>
                
                <div class="col-md-4">
                <div class="form-group">
                  
                  <input type="text" value="{{from_date|default:''}}" class="form-control" id="inputDate" name="from_date" placeholder="From date" required="">
                </div>
              </div>
                <div class="col-md-4">
                <div class="form-group">
                  
                  <input type="text" value="{{to_date|default:''}}" class="form-control" id="inputDate-1" name="to_date" placeholder="To date" required="">
                </div>
              </div>
              <div class="col-md-2">
              <div class="form-group">
                 <button type="submit" class="btn btn-primary" >search</button>
              </div>
            </div>
              </div>
             
              </form>
           <!--  <form style="padding: 15px 0;position: relative;top: 8px;left: 71%;">
              <label class="searchh">Search:<input type="search" class="form-control" placeholder="" aria-controls="example"></label>
            </form> -->
            <div class="table-responsive">
              <table id="example" class="table table-striped " style="width:100%">
                <thead>
                  <tr>
                     <th ><div class="checkbox "><input type="checkbox" class="dt-checkboxes member"><label></label></div></th>
                    <th>Registered On</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Phone number </th>
                    <!-- <th>Member type</th> -->
                    <th>Question replies</th>
                    <th>Payment Status</th>
                    <th>Status</th>
                    <th>Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% if get_customer_user %}
                  {% for data in get_customer_user %}
                  <tr>
                     <td><div class="checkbox" ><input type="checkbox" class="dt-checkboxes member" 
                            value="{{data.id}}"><label></label></div></td>
                    <td>{{data.created_date|date:'d/m/y'}}</td>
                    <td style="display: flex;align-items: baseline;justify-content: space-between;">{{data.full_name}}</td>
                    <td>{{data.user_id.email}}</td>
                    <td>{{data.phone}}</td>
                    <!-- <td>customer </td> -->

                     <td><a href="javascript:void(0)" class="view_answers" data-id="{{data.id}}">{% if data|answer_status == 'No' %}<button class="badge badge-gradient-danger" disabled=""> {{data|answer_status}}</button>{% else %}<button class="badge badge-gradient-danger" > {{data|answer_status}}</button>{% endif %}</a> </td>
                          
                  
                
                    <td><button class="btn btn-danger paid" disabled="">{% if data|paid_status == 'Paid' %}Paid{% else %}Unpaid{% endif %}</button></td>
               
                     <td>
                            {% if data.status == True %}
                              <button type="button" class="badge badge-gradient-info customer_status" id="{{data.id}}" customerstatus="{{data.status}}">Active</button>
                              {% else %}
                              <button type="button" class="badge badge-gradient-info customer_status"  id="{{data.id}}" customerstatus="{{data.status}}">DeActive</button>
                              {% endif %}
                    </td>
                     <td >
                      <table class="act-button">
                        <tr>
                          <td ><a href="{% url 'manage_member:EditCustomer' data.id %}" title="Edit" class="btn-edit "><span class="fa fa-pencil"></span></a></td>
                          <td><a href="javascript:void(0)" class="btn-delete delete_customer" data-id="{{data.id}}"><span class="fa fa-trash"></span></a></td>
                      
                        </tr>
                      </table>
                    </td>

                   
                  </tr>
                 
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
           <!--  <div class="row">
              <div class="col-md-12 ">
                
                
                <nav>
                  <ul class="pagination text">
                    <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                  </ul>
                </nav>
                
              </div>
            </div> -->
            &nbsp;
            <div class="dropdown">
              <button class="btn btn-primary delete_member" type="button" aria-haspopup="true" aria-expanded="false">
              Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div class="modal fade" id="exampleModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #2088ca;">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Questions</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-primary">Save </button>
        </div>
      </div>
    </div>
  </div>
  <!---------------------------------------------------------------------------------------------------------------------->
  <!------------Delete messege Modal Popup Start------->
  <div class="modal fade in sp-map" id="modal-default2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size: 32px;">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="paper">
            <div class="row">
              <div class="col-md-12">
                <div class="container-fluid">
                  <!--  <div class="login-form-content"> -->
                  <form action="javascript:(0);">
                    <div class="row">
                      <p>Are you sure you want to Delete?</p>
                      <div class="col-md-6">
                        <button type="submit" class="buttons-action btn-block" >Yes</button>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <button type="submit" class="buttons-action btn-block" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------Delete Message Modal Ends---------------->
</section>
{% endblock %}

{% block script %}
<script type="text/javascript">
//---------active and deactive status Start----------------
$(document).on('click', ".customer_status", function (e) {
      var userid = $(e.currentTarget).attr("id");
      var userstatus = $(e.currentTarget).attr('customerstatus');
      console.log(userid,userstatus);
      if(userstatus == 'True'){
      varstatus = 'Deactive';
      }
      else{
      varstatus = 'Active';
      }
      swal({
        title: 'Are you sure?',
        text: varstatus+' this',
        icon: 'warning',
        buttons: {
        cancel: {
        text: "Cancel",
        value: null,
        visible: true,
        closeModal: true,
        },
        confirm: {
        text: "OK",
        value: true,
        visible: true,
        closeModal: true
        },
        }
        },
      function(isConfirm){
      if (isConfirm) {
      var dataString = 'userid='+userid+'&userstatus='+userstatus;
      var token = '{{csrf_token}}';
      $.ajax({
      method:"POST",
      headers: { "X-CSRFToken": token },
      url: "/admin/manage-member/change-status",
      data: dataString,
      dataType:"json",
      cache: false,
      success: function (data) {
      swal("Done!","succesfully Edited!","success");
      location.reload();
      }
      });
      }
      else{
      swal("Cancelled", "Your status is safe :)", "error");
      }
      });
      });
//---------active and deactive question End----------------
</script>


<!-- supplier answers view start -->
<script type="text/javascript">

$(document).on("click",".view_answers",function(){
var id = $(this).data("id");
console.log(id);
$.ajax({
  method:"GET",
  url :"/admin/manage-member/view-answers/"+id,
  dataType:"html",

  success:function(data)

  {
     $("#exampleModal-1 .modal-body").html(data);
     $("#exampleModal-1 ").modal("show");
  }
});
});
</script>
<!-- supplier answers view end -->
<!-- delete single instance -->
<script type="text/javascript">
$(document).ready(function(){
  $(".delete_customer").click(function(){
var delete_value = $(this).data("id");



     swal({
          title: "Are you sure?",
          text: "You want to delete !",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: 'btn-danger',
          confirmButtonText: 'Yes, delete it!',
          closeOnConfirm: false,
          // closeOnCancel: false
          },
          function(isConfirm){
         if (isConfirm) {
         var token = '{{csrf_token}}';
            $.ajax({
                headers: { "X-CSRFToken": token },
                url: "/admin/manage-member/delete-member/"+delete_value,
                type: "POST",
                success: function () {
                    swal("Done!","It was succesfully deleted!","success");
                        location.reload();
                }
            });
          }
          else{
                swal("Cancelled", "Your imaginary file is safe :)", "error");
          }
       })
      });
});

</script>

<!-- delete single instance -->
<!-- multiple delete member  -->
<script type="text/javascript">



$(".delete_member").click(function(){


var member_array=[];
$(".member:checked").each(function(){
member_array.push($(this).val());
});
// console.log(member_array);
if (member_array.length === 0){
  alert("Please Select at least one");
}
else
{

     swal({
          title: "Are you sure?",
          text: "You want to delete !",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: 'btn-danger',
          confirmButtonText: 'Yes, delete it!',
          closeOnConfirm: false,
          // closeOnCancel: false
          },
          function(isConfirm){
         if (isConfirm) {
         var token = '{{csrf_token}}';
            $.ajax({
                headers: { "X-CSRFToken": token },
                url: "/admin/manage-member/delete-multiple-member/",
                type: "POST",
                data:{'member_array':member_array},
                success: function () {
                    swal("Done!","It was succesfully deleted!","success");
                        location.reload();
                }
            });
          }
          else{
                swal("Cancelled", "Your imaginary file is safe :)", "error");
          }
       })
}
});
</script>
<!-- multiple delete member  -->
{% endblock %}