{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>BAH'ES</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel='stylesheet' href="{% static 'css/slick.css'%}">
<!-- <link rel='stylesheet' href="{% static 'css/dialing-code.css'%}"> -->
<link rel='stylesheet' href="{% static 'css/slick-theme.css'%}">
<link rel="shortcut icon" href="{% static 'images/fevicon.png'%}" type="image" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
 <link rel="stylesheet" href='{% static "css/croppie.css" %}'  type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/css/intlTelInput.css" rel="stylesheet" media="screen">
</head>
</head>
<body>
<!-- Pageloader -->
<div class="pageloader"></div>

  <header class="large">
<nav class="navbar navbar-expand-lg  bg-black fixed-top">
    {% if get_system_settings %}
        {% for data in get_system_settings %}
  <div class="container"> <a class="navbar-brand" href="{% url 'homepage:HomePage'%}"><img src="{{data.logo.url}}" alt=""/></a>
    {% endfor %}
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto menutop">
        <li class="nav-item {% if 'find-supplier' in request.build_absolute_uri or 'find-services' in request.build_absolute_uri or 'find-products' in request.build_absolute_uri  or 'account' in request.build_absolute_uri or 'dashboard' in request.build_absolute_uri or 'chat' in request.build_absolute_uri or 'my-services' in request.build_absolute_uri or 'my-products' in request.build_absolute_uri %} Home{% else %} active  {% endif %}"> <a class="nav-link" href="{% url 'homepage:HomePage'%}">Home</a> </li>
        
        <li class="nav-item {% if 'find-supplier' in request.build_absolute_uri %} active  {% endif %}"> <a class="nav-link" href="{% url 'findsupplier:FindSupplier'%}">Find Suppliers</a> </li>
        <li class="nav-item {% if 'find-services' in request.build_absolute_uri %} active  {% endif %}"> <a class="nav-link" href="{% url 'findservices:FindServices'%}">Find Services</a> </li>
        <li class="nav-item {% if 'find-products' in request.build_absolute_uri %} active  {% endif %}"> <a class="nav-link" href="{% url 'findproducts:FindProducts'%}">Find Products</a> </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown {% if 'dashboard' in request.build_absolute_uri or 'chat' in request.build_absolute_uri or 'my-services' in request.build_absolute_uri or 'my-products' in request.build_absolute_uri %} active  {% endif %}"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
          {% else %}
           <li class="nav-item dropdown {% if 'account' in request.build_absolute_uri %} active  {% endif %}"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register</a>
            {% endif %}

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if not request.user.is_authenticated %}
          
       <a class="dropdown-item" href="{% url 'account:login' %}">Login</a>
      <a class="dropdown-item" href="{% url 'account:UserType' %}">Registration</a>

      {% endif %}
      {% if  request.user.is_authenticated %}
      {% if request.user.userx.user_type.type_name == 'supplier' %}
      <a class="dropdown-item" href="{% url 'dashboard:Dashboard' %}">My Profile</a>
      {% else %}
      <a class="dropdown-item" href="{% url 'dashboard:EditProfile' %}">My Profile</a>
      {% endif %}
      <a class="dropdown-item" href="{% url 'account:logout' %}">Logout </a>

      {% endif %}


        </li>



          <!-- mobile view start  -->
       <!--  {% if request.user.is_authenticated %}
        <li class="nav-item dropdown {% if 'dashboard' in request.build_absolute_uri or 'chat' in request.build_absolute_uri or 'my-services' in request.build_absolute_uri or 'my-products' in request.build_absolute_uri %} active  {% endif %}"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if request.user.userx.full_name %}{{request.user.userx.full_name}}{% else %}{{request.user.username}}{% endif %}</a>
          {% else %}
           <li class="nav-item dropdown {% if 'account' in request.build_absolute_uri %} active  {% endif %}"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Register</a>
            {% endif %} -->
       <li class="hide-desktop">

            {% if not request.user.is_authenticated %}

       <a class="dropdown-item listt {% if 'login' in request.build_absolute_uri %} active  {% endif %}" href="{% url 'account:login' %}">Login</a>
      <a class="dropdown-item listt {% if 'user-type' in request.build_absolute_uri %} active  {% endif %}" href="{% url 'account:UserType' %}">Registration</a>

      {% endif %}
      {% if  request.user.is_authenticated %}
   
      <a class="nav-item listt  {% if 'dashboard' in request.build_absolute_uri or 'chat' in request.build_absolute_uri or 'my-services' in request.build_absolute_uri or 'my-products' in request.build_absolute_uri %} active  {% endif %}" href="{% url 'dashboard:EditProfile' %}">My Profile</a>
      <a class="dropdown-item listt" href="{% url 'account:logout' %}">Logout </a>

      {% endif %}


        </li>


        <!-- mobile view end  -->
      </ul>
    </div>
  </div>
</nav>
</header>
   <!-----------------------------profile image crop modal start--------------------------------->
  <div id="uploaduserimageModal" class="modal" role="dialog">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Upload & Crop Profile Image</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <div id="user_profile_image"></div>
            </div>
      
          </div>
        </div>
        
        <form method="POST" action="/dashboard/profile-change/">
          {% csrf_token %}
          
          <input type="hidden" name="save_profile_image" id="save_profile_image" />
      
          <div class="modal-footer">
            <button class="btn btn-success crop_image_edit">Upload Image</button>
          </form>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-----------------------------profile image crop modal end---------------------------------------->
          <!-- ----------------------------------Update product model start ------------------------------------>
        -
        <div class="modal fade" id="exampleModal-7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4>Edit </h4>
                <span class="close-box" data-dismiss="modal" onclick="location.reload(true)" aria-label="Close">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </span>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <!-- ----------------------------------Update product model end ------------------------------------>
        <!--product image crop modal start-->
        <div id="uploadimageModal_edit" class="modal" role="dialog">
          <div class="modal-dialog ">
            <div class="modal-content class ">
              <div class="modal-header">
                <h4 class="modal-title">Upload & Crop Image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
              </div>
              <div class="modal-body ">
                <div class="row">
                  <div class="col-md-8 text-center">
                    <div id="profile_image_edit" style="width:300px; margin-top:30px"></div>
                  </div>
                  <div class="col-md-4" style="padding-top:10px;">
                    <br />
                    <br />
                    <br/>
                    <div class="row">
                      <div class="col-md-12 set_loader"></div>
                    </div>
                    <!--<button class="btn btn-success crop_image_edit">Crop Image</button>-->
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success crop_image">Save Image</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- product image crop modal end-->
        <!--product image crop modal start-->
        <div id="uploadfabricimageModal2" class="modal" role="dialog">
          <div class="modal-dialog ">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Upload & Crop Image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-8 text-center">
                    <div id="fabric_product_image2" style="width:300px; margin-top:30px"></div>
                  </div>
                  <div class="col-md-4" style="padding-top:10px;">
                    <br />
                    <br />
                    <br/>
                    <div class="row">
                      <div class="col-md-12 set_loader"></div>
                    </div>
                    <!--<button class="btn btn-success crop_image_edit">Crop Image</button>-->
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success crop_image_edit">Save Image</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!--product image crop modal end-->
        <!---------------------------------Update Service Modal start --------------------------------------->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
              <span class="close-box" data-dismiss="modal" aria-label="Close">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
              <div class="modal-body ">
                
              </div>
              
              
              
            </div>
            
          </div>
          
        </div>
        <!---------------------------------Update Service Modal end --------------------------------------->
{% block content %}

{% endblock %}
 {% if get_system_settings %}
        {% for data in get_system_settings %}
<footer>
    <div class="footer-blue">
    <div class="container">
    <div class="text-right footer-icon">


    <a class="facebook" href="{{data.fb}}"><img src="{% static 'images/footer-icon-1.png' %}"/ alt=""></a>
    <a class="facebook" href="{{data.twitter}}"><img src="{% static 'images/footer-icon-2.png' %}"/ alt=""></a>
    <a class="facebook" href="{{data.linkedin}}"><img src="{% static 'images/footer-icon-3.png' %}"/ alt=""></a>

    </div>
    </div>
    </div>

    <div class="bg-foorer">
    <div class="container">
    <div class="row">
    <div class="col-md-3">
    <div class="footer-logo">
    <img src="{{data.footer_logo.url}}" alt=""/>
    </div>
    </div>

    <div class="col-md-3">
       <button class="btn btn-primary hide" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <div class="footer-link">
    <h3>Quick Links <i class="fa fa-angle-down" aria-hidden="true"></i></h3>
  </div>
  </button>
  <div class="collapse" id="collapseExample">
  <div class="card card-body bg">
   <div class="footer-link">

    <ul>
    <li><a href="{% url 'homepage:HomePage'%}">Home </a></li>
    <li><a href="{% url 'findsupplier:FindSupplier'%}">Suppliers </a></li>
    <li><a href="{% url 'findservices:FindServices'%}">Services </a></li>
    <li><a href="{% url 'findproducts:FindProducts'%}">Products</a></li>
    <li><a href="{% url 'account:UserType' %}">Register</a></li>
    </ul>

    </div>
  </div>
</div>
    <div class="footer-link show">
    <h3>Quick Links</h3>
    <ul>
    <li><a href="{% url 'homepage:HomePage'%}">Home </a></li>
    <li><a href="{% url 'findsupplier:FindSupplier'%}">Suppliers </a></li>
    <li><a href="{% url 'findservices:FindServices'%}">Services </a></li>
    <li><a href="{% url 'findproducts:FindProducts'%}">Products</a></li>
    <li><a href="{% url 'account:UserType' %}">Register</a></li>
    </ul>

    </div>
    </div>




    <div class="col-md-3">
      <button class="btn btn-primary hide" type="button" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false" aria-controls="collapseExample">
        <div class="footer-link">
    <h3>Our Services <i class="fa fa-angle-down" aria-hidden="true"></i></h3>
  </div>
  </button>
    <div class="collapse" id="collapseExample-1">
  <div class="card card-body bg">
  <div class="footer-link">

    {{'footer_services'|get_footer_services}}


    </div>
  </div>
</div>
    <div class="footer-link show">
    <h3>Our Services</h3>
    {{'footer_services'|get_footer_services}}


    </div>
    </div>

    <div class="col-md-3">
      <button class="btn btn-primary hide" type="button" data-toggle="collapse" data-target="#collapseExample-3" aria-expanded="false" aria-controls="collapseExample">
        <div class="footer-link">
    <h3>Other Pages <i class="fa fa-angle-down" aria-hidden="true"></i></h3>
  </div>
  </button>
   <div class="collapse" id="collapseExample-3">
  <div class="card card-body bg">
    <div class="footer-link">

    <ul>
    <li><a href="{% url 'contactus:Contact'%}">Contact us
    <li><a href="{% url 'custom_app:AboutUs'%}">About us </a></li>
    <li><a href="{% url 'custom_app:PrivacyPolicy'%}">Privacy policy </a></li>
    <li><a href="{% url 'custom_app:TermsOfServices'%}">Terms of Services </a></li>
    <!-- <li><a href="#">FAQ</a></li> -->


    </ul>

    </div>
  </div>
</div>
    <div class="footer-link show">
    <h3>Other Pages</h3>
    <ul>
    <li><a href="{% url 'contactus:Contact'%}">Contact us
    <li><a href="{% url 'custom_app:AboutUs'%}">About us </a></li>
    <li><a href="{% url 'custom_app:PrivacyPolicy'%}">Privacy policy </a></li>
    <li><a href="{% url 'custom_app:TermsOfServices'%}">Terms of Services </a></li>
    <!-- <li><a href="#">FAQ</a></li> -->


    </ul>

    </div>
    </div>

    </div>
    </div>
    </div>
    </footer>
     {% endfor %}
    {% endif %}

    <script src="{% static 'js/jquery.min.js' %}"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/slick.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>

    <script src='{% static "js/croppie.js" %}'></script>
     <script src="{% static 'js/user_crop_img.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/intlTelInput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"></script>
<script type="text/javascript">
  
var telInput = $("#phone"),
  errorMsg = $("#error-msg"),
  validMsg = $("#valid-msg");

// initialise plugin
telInput.intlTelInput({

  allowExtensions: true,
  formatOnDisplay: true,
  autoFormat: true,
  autoHideDialCode: true,
  autoPlaceholder: true,
  // defaultCountry: "auto",
  ipinfoToken: "yolo",

  nationalMode: false,
  numberType: "MOBILE",
  //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
  preferredCountries: ['kw','sa', 'ae', 'qa','om','bh','ma'],
  preventInvalidNumbers: true,
  separateDialCode: true,
  // initialCountry: "auto",
  geoIpLookup: function(callback) {
  $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
    var countryCode = (resp && resp.country) ? resp.country : "";

    console.log(countryCode)
    callback(countryCode);
  });
},
   utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/js/utils.js"
});

var reset = function() {
  telInput.removeClass("error");
  errorMsg.addClass("hide");
  validMsg.addClass("hide");
};

// on blur: validate
telInput.blur(function() {
  reset();
  if ($.trim(telInput.val())) {
    if (telInput.intlTelInput("isValidNumber")) {
      validMsg.removeClass("hide");
    } else {
      telInput.addClass("error");
      errorMsg.removeClass("hide");
    }
  }
});

// on keyup / change flag: reset
telInput.on("keyup change", reset);



</script>

 <script type="text/javascript">
    window.onload = (event) => {
  console.log('page is fully loaded');
   console.log($('.selected-dial-code').text());
          $('#tel_code').val($('.selected-dial-code').text());

};
     $(document).on("click",".Register",function(){
                     console.log($('.selected-dial-code').text());
          $('#tel_code').val($('.selected-dial-code').text());

        });
  </script>


<script type="">
  $(document).on("scroll", function() {

  if($(document).scrollTop()>10) {
    $("header").removeClass("large").addClass("small");
  } else {
    $("header").removeClass("small").addClass("large");
  }
  
});
</script>
<script type="text/javascript">


   $(".set_number_only").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl/cmd+A
            (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: Ctrl/cmd+C
            (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: Ctrl/cmd+X
            (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });



</script>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script type="">

    $(document).ready(function() {
            $('#multiple-checkboxess').multiselect({
              includeSelectAllOption: true,
            });
        });
  </script>

<script type="">

    $(document).ready(function() {
            $('#multiple-checkboxe').multiselect({
              includeSelectAllOption: true,
            });
        });
  </script>





<script type="">

    $(document).ready(function() {
            $('#multiple-checkboxes').multiselect({
              includeSelectAllOption: true,
            });
        });
  </script>

<script type="">

    $(document).ready(function() {
            $('#multiple-checkboxe').multiselect({
              includeSelectAllOption: true,
            });
        });
  </script>








<script>
 //Init pageloader

  if ($('.pageloader').length) {
    $('.pageloader').toggleClass('is-active');
    $(window).on('load', function () {
      var pageloaderTimeout = setTimeout(function () {
        $('.pageloader').toggleClass('is-active');
        $('.infraloader').toggleClass('is-active');
        clearTimeout(pageloaderTimeout);
      }, 700); //Placeloaders


''
    });
  }
$('.slick-slider').slick({
  centerMode: true,
  slidesToShow: 3,
  dots: false,
  loop:false,
  //arrows: true,
  swipe: true,
//  infinite: true,
  swipeToSlide: true,
  centerPadding:'0px 50px ',
  //adaptiveHeight: true,
   prevArrow: '<button class="slide-arrow prev-arrow"><i class="fa fa-arrow-left"></i></button>',
    nextArrow: '<button class="slide-arrow next-arrow"><i class="fa fa-arrow-right" ></i></button>',
  responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            adaptiveHeight: true,
          },
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          },
        },
      ],
});





$('.slick-services').slick({
  // centerMode: true,
  slidesToShow: 3,
  dots: false,
  loop:false,
  //arrows: true,
  swipe: true,
//  infinite: true,
  swipeToSlide: true,
  centerPadding:'0px 50px',
  //adaptiveHeight: true,
   prevArrow: '<button class="slide-arrow prev-arrow"><i class="fa fa-arrow-left"></i></button>',
    nextArrow: '<button class="slide-arrow next-arrow"><i class="fa fa-arrow-right" ></i></button>',
  responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            adaptiveHeight: true,
          },
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          },
        },
      ],
});



$('.suppliers-slider').slick({
  //centerMode: true,
  slidesToShow: 3,
  dots: false,
  loop:false,
  //arrows: true,
  swipe: true,
//  infinite: true,
  swipeToSlide: true,
  centerPadding:'0px 50px ',
  //adaptiveHeight: true,
   prevArrow: '<button class="slide-arrow prev-arrow"><i class="fa fa-arrow-left"></i></button>',
    nextArrow: '<button class="slide-arrow next-arrow"><i class="fa fa-arrow-right" ></i></button>',
  responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            adaptiveHeight: true,
          },
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          },
        },
      ],
});


$('.product-slider').slick({
  //centerMode: true,
  slidesToShow: 4,
  dots: false,
  loop:false,
  //arrows: true,
  swipe: true,
//  infinite: true,
  swipeToSlide: true,
  //centerPadding:'100px 100px ',
  //adaptiveHeight: true,
   prevArrow: '<button class="slide-arrow prev-arrow"><i class="fa fa-arrow-left"></i></button>',
    nextArrow: '<button class="slide-arrow next-arrow"><i class="fa fa-arrow-right" ></i></button>',
  responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            adaptiveHeight: true,
          },
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          },
        },
      ],
});


$('.counter').each(function() {
  var $this = $(this),
      countTo = $this.attr('data-count');

  $({ countNum: $this.text()}).animate({
    countNum: countTo
  },

  {

    duration: 8000,
    easing:'linear',
    step: function() {
      $this.text(Math.floor(this.countNum));
    },
    complete: function() {
      $this.text(this.countNum);
      //alert('finished');
    }

  });



});
/*
$(".textlimit span").text(function(index, currentText) {
  var maxLength = $(this).parent().attr('data-maxlength');
  if(currentText.length >= maxLength) {
    return currentText.substr(0, maxLength) + "...";
  } else {
    return currentText
  }
});


$(".name-sup, .surname").text(function(index, currentText) {
  var maxLength = $(this).parent().attr('data-maxlength');
  if(currentText.length >= maxLength) {
    return currentText.substr(0, maxLength) + "...";
  } else {
    return currentText
  }
});*/

</script>

<script>
 //Init pageloader

  if ($('.pageloader').length) {
    $('.pageloader').toggleClass('is-active');
    $(window).on('load', function () {
      var pageloaderTimeout = setTimeout(function () {
        $('.pageloader').toggleClass('is-active');
        $('.infraloader').toggleClass('is-active');
        clearTimeout(pageloaderTimeout);
      }, 700); //Placeloaders



    });
  }

</script>

    <script>
                    function goBack() {
                      window.history.back();
                    }
             </script>
<!-- ############################################################## -->


<!-- ############################################################################################################### -->

  <script type="text/javascript">
    function mychatFunction(userid)
       {
        console.log(userid);
      $.ajax({
      method:"GET",

      url: "/chat/user/"+userid,

      dataType:"json",

      success: function (data) {
      // console.log(data.id);

       $("#chat_saved_data").empty();
       $(".defultdiv").hide();
       $(".texta").fadeIn("1500");
       $("#chat_saved_data").fadeIn("1500");
       $("#bahes"+data.id+"").hide();
         var user_message_count = $("#bahes"+data.get_id+"").text();
        var totalmessagecount = $("#totalmessagecount").text();

        var a = parseInt(totalmessagecount) - parseInt(user_message_count);
       if(a>0){
       $("#totalmessagecount").html(''+a+'');
     }
     else
     {
      $("#totalmessagecount").hide();
     }
     // console.log(data.chat_data.length);
     for(var i=0;i<data.chat_data.length;i++)

     {

    if(data.chat_data[i].sender_id == '{{request.user.id}}')
    {
      $("#chat_saved_data").append( '<div class="main-dive"><div class="col-md-12"><div class="chat-2"><p class="text_lorem">'+data.chat_data[i].message_text+'</p></div></div></div>');
    }
    else{
        $("#chat_saved_data").append( '<div class="main-dive"><div class="col-md-12"><div class="chat_1"><p class="text_lorem">'+data.chat_data[i].message_text+'</p></div></div></div>');
        }


     }
    // console.log(data.get_id);
     $("#userval").val(data.get_id);
     $('#offlinestatus').val(data.get_status);
      // $(".unread_mess_count").html('<span>'+data.unread_mess_count+'</span>');
    $("#username").html( '<h4 class="user_1"><span>'+(data.get_name).charAt(0)+'</span>'+data.get_name+'<br><p class="Online" >'+(data.get_status == true ? 'Online': 'offline')+'</p></h4>');

     $("#chat_saved_data").animate({scrollTop: $("#chat_saved_data").get(0).scrollHeight }, 1);
      }
      });

      }


      </script>
       <script>
        // const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const roomName='chatbahesroom';
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      // var chatSocket = ws_scheme + '://' + window.location.host + "/ws/chat/"+roomName+"/";
        // console.log(roomName);
        const chatSocket = new WebSocket('wss://'+window.location.host+'/ws/chat/'+ roomName+'/');
         //const chatSocket = new WebSocket(ws_path);
         console.log("=================");
         console.log(chatSocket);
         console.log("================");
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
           
           console.log(data);
      if(((data.message.sender == '{{request.user.id}}') & (data.message.reciever == $('#userval').val())) |((data.message.reciever == '{{request.user.id}}') & (data.message.sender == $('#userval').val())))
            {
            if(data.message.sender == '{{request.user.id}}')
            {
               // const audio = new Audio('/static/send-message-popup.mp3');
              
               const audio = new Audio('{{'sender_audio'|get_audio_url:request.user}}');
              audio.play();
              $("#chat_saved_data").append( '<div class="main-dive"><div class="col-md-12"><div class="chat-2"><p class="text_lorem">'+data.message.message+'</p></div></div></div>');

            }
            else{
             const audio = new Audio('{{'receiver_audio'|get_audio_url:request.user}}');

             audio.play();
         $("#chat_saved_data").append( '<div class="main-dive"><div class="col-md-12"><div class="chat_1"><p class="text_lorem">'+data.message.message+'</p></div></div></div>');
            }
             $("#chat_saved_data").animate({scrollTop: $("#chat_saved_data").get(0).scrollHeight}, 1);
          }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
               
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
          
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            console.log(message)
            chatSocket.send(JSON.stringify({
                'message': {"message":message ,"sender":"{{request.user.id}}","reciever":document.querySelector('#userval').value}
            }));
            messageInputDom.value = '';
        var sender = '{{request.user.id}}'
        var reciever = $('#userval').val();
       
        var dataString = 'message='+message+'&sender='+sender+'&reciever='+reciever;
         
        var token = '{{csrf_token}}';
        $.ajax({
          method:"POST",
          headers: { "X-CSRFToken": token },
          url: "/chat/user/messagesubmit/",
          data: dataString,
          dataType:"json",
          cache: false,
          success: function (data) {
          $("#chat_saved_data").animate({scrollTop: $("#chat_saved_data").get(0).scrollHeight}, 1);
          // location.reload();
         
          }
        });
       };
    </script>
   
<script >
$(document).ready(function () {
    // $('button[type="button"]').attr('disabled', true);
    $('.chatsubmitbutton').attr('disabled', true);
    $('input[type="text"]').on('keyup', function () {
        var textarea_value = $("#chat-message-input").val();
        
        if (textarea_value != '') {
            // $('button[type="button"]').attr('disabled', false);
            $('.chatsubmitbutton').attr('disabled', false);
           
        } else {
            // $('button[type="button"]').attr('disabled', true);
            $('.chatsubmitbutton').attr('disabled', true);

        }
    });
});
</script>




<!-- ################################################################################################################## -->
   <!------------------------------- product script------------------------------------------------ -->
<script type="text/javascript">

 function editloader() { // makes sure the whole site is loaded 
  $('#status').fadeOut(); // will first fade out the loading animation 
  $('#preloader').delay(2850).fadeOut('slow'); // will fade out the white DIV that covers the website. 
  $('body').delay(2850).css({'overflow':'visible'});
}


//---------Edit product start----------------
$(document).on("click",".edit_product",function(){
  $('.page-loader').show();
var id = $(this).data("id");

$.ajax({
method:"GET",
url :"/my-products/edit-product/"+id,
dataType:"html",
success:function(data)
{
  $('.page-loader').hide();
$("#exampleModal-7 .modal-body").html(data);
$("#exampleModal-7").modal("show");
}
});
});
//---------Edit User end----------------
//---------active and deactive status Start----------------
$(document).on('click', ".approve_product", function (e) {
var productid = $(e.currentTarget).attr("id");
var productstatus = $(e.currentTarget).attr('productstatus');
if(productstatus == 'True'){
varstatus = 'Deactive';
}
else{
varstatus = 'Active';
}
swal({
title: 'Are you sure?',
text: varstatus+' this',
icon: 'warning',
buttons: {
cancel: {
text: "Cancel",
value: null,
visible: true,
closeModal: true,
},
confirm: {
text: "OK",
value: true,
visible: true,
closeModal: true
},
}
},
function(isConfirm){
if (isConfirm) {
var dataString = 'productid='+productid+'&productstatus='+productstatus;
var token = '{{csrf_token}}';
// console.log(dataString);
$.ajax({
method:"POST",
headers: { "X-CSRFToken": token },
url: "/my-products/productstatus",
data: dataString,
dataType:"json",
cache: false,
success: function (data) {
swal("Done!","succesfully Edited!","success");
location.reload();
}
});
}
else{
swal("Cancelled", "Your status is safe :)", "error");
}
});
});
//---------active and deactive service End----------------
//---------delete User start----------------
$(document).ready(function(){
$(".delete_product").click(function(){
var delete_value = $(this).data("id");
console.log(delete_value)
swal({
title: "Are you sure?",
text: "You want to delete !",
type: "warning",
showCancelButton: true,
confirmButtonClass: 'btn-danger',
confirmButtonText: 'Yes, delete it!',
closeOnConfirm: false,
// closeOnCancel: false
},
function(isConfirm){
if (isConfirm) {
var token = '{{csrf_token}}';
$.ajax({
headers: { "X-CSRFToken": token },
url: "/my-products/delete/"+delete_value,
type: "POST",
success: function () {
swal("Done!","It was succesfully deleted!","success");
location.reload();
}
});
}
else{
swal("Cancelled", "Your imaginary file is safe :)", "error");
}
})
});
});
//---------delete product end----------------

</script>
<!-- ################################################################################################################## -->
<script type="text/javascript">

//---------active and deactive status Start----------------
         $(document).on('click', ".online_status", function (e) {
         
         var onlinestatus = $(e.currentTarget).attr('onlinestatus');
          var userid = $(e.currentTarget).attr('userid');
         
         var dataString = 'onlinestatus='+onlinestatus+'&userid='+userid;
         console.log(dataString)
         var token = '{{csrf_token}}';
          $.ajax({
                  method:"POST",
                  headers: { "X-CSRFToken": token },
                 url: "/dashboard/onlinestatus/",
                 data: dataString,
                 dataType:"json",
                 // cache: false,
                success: function (data) {
                    // console.log(data.message);
                        location.reload();
                         }
                });
         
           });
         //---------active and deactive service End----------------
</script>
                 <!------------------------------- product script end------------------------------------------------ -->


                 <!------------------------------- services script start------------------------------------------------ -->
<script type="text/javascript">

//---------Edit User start----------------
$(document).on("click",".edit_service",function(){
    $('.page-loader').show();
var id = $(this).data("id");
console.log(id)
$.ajax({
method:"GET",
url :"/my-services/edit-service/"+id,
dataType:"html",
success:function(data)
{
    $('.page-loader').hide();
$("#exampleModal .modal-body").html(data);
$("#exampleModal").modal("show");
}
});
});
//---------Edit User end----------------
//---------delete User start----------------
$(document).ready(function(){
$(".delete_service").click(function(){
var delete_value = $(this).data("id");
console.log(delete_value)
swal({
title: "Are you sure?",
text: "You want to delete !",
type: "warning",
showCancelButton: true,
confirmButtonClass: 'btn-danger',
confirmButtonText: 'Yes, delete it!',
closeOnConfirm: false,
// closeOnCancel: false
},
function(isConfirm){
if (isConfirm) {
var token = '{{csrf_token}}';
$.ajax({
headers: { "X-CSRFToken": token },
url: "/my-services/delete-service/"+delete_value,
type: "POST",
success: function () {
swal("Done!","It was succesfully deleted!","success");
location.reload();
}
});
}
else{
swal("Cancelled", "Your imaginary file is safe :)", "error");
}
})
});
});
//---------delete User end----------------
//---------active and deactive status Start----------------
$(document).on('click', ".approve", function (e) {
var serviceid = $(e.currentTarget).attr("id");
var servicestatus = $(e.currentTarget).attr('servicestatus');

if(servicestatus == 'True'){
varstatus = 'Deactive';
}
else{
varstatus = 'Active';
}
swal({
title: 'Are you sure?',
text: varstatus+' this',
icon: 'warning',
buttons: {
cancel: {
text: "Cancel",
value: null,
visible: true,
closeModal: true,
},
confirm: {
text: "OK",
value: true,
visible: true,
closeModal: true
},
}
},
function(isConfirm){
if (isConfirm) {
var dataString = 'serviceid='+serviceid+'&servicestatus='+servicestatus;
var token = '{{csrf_token}}';

$.ajax({
method:"POST",
headers: { "X-CSRFToken": token },
url: "/my-services/servicestatus",
data: dataString,
dataType:"json",
cache: false,
success: function (data) {
swal("Done!","succesfully Edited!","success");
location.reload();
}
});
}
else{
swal("Cancelled", "Your status is safe :)", "error");
}
});
});
//---------active and deactive service End----------------

</script>
<script>
$(document).ready(function(){
  $(".show-toggle-side").click(function(){
    $(".nonee").slideToggle();
  });
});




</script>

      <!------------------------------- services script end------------------------------------------------ -->
     {% block script %}

            {% endblock %}
    </body>
    </html>