{% extends 'base_template.html' %}
{% block content %}
  {% load static %}
  <div class="banner-profile">
    <div class="profile-overlay">
      <div class="container">
        <div class="heading-title supplies text-center">
          <h1>
          <div class="left-cricle"></div>
          <div class="right-cricle"></div>
          <span>Profile</span></h1>
        </div>
      </div>
    </div>
  </div>
  <section class="bg-light">
    <div class="container">
      
      <div class="row">
        <div class="col-md-3">
          
          
          
          <div class="profilebox">
            <div class="iconbox">
              {% if userprofile.image %}
                <img src="{{userprofile.image.url}}" class="pexels-pixabay mb-2">
              {% else%}
                <img src="{% static 'images/dummy-image.png' %}" class="pexels-pixabay mb-2">
                
              {% endif%}
              <input type="file"  id="id_Profile_Image" class="fa fa-edit pencils" accept="image/*" />
            </div>
            <!-- Tabs nav -->
            <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              
              {% if flag == 'profile' %}
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                
              Update Profile</a>
              {% else %}
              <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">
                
              Update Profile</a>

              {% endif %}
              {% if flag == 'change_password' %}
              <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">
                
              Update Password</a>
              {% else %}
               <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                
              Update Password</a>
              {% endif %}
            </div>
          </div>
          
          
        </div>
        <div class="col-md-9">
          <div class="bg-lightgray">
            
            <div class="buttons_left">
              <h1>{{userprofile.full_name}}</h1>
              
            </div>
            <div class="custom-control custom-switch">
              {% if userprofile.online_status %}
                <input type="checkbox" class="custom-control-input online_status" onlinestatus="{{userprofile.online_status}}" userid="{{userprofile.id}}" id="customSwitches" checked=""
                >
                <label class="custom-control-label" for="customSwitches">Online</label>
              {% else %}
                <input type="checkbox" class="custom-control-input online_status" onlinestatus="{{userprofile.online_status}}" userid="{{userprofile.id}}" id="customSwitches" >
                <label class="custom-control-label" for="customSwitches">Offline</label>
              {% endif %}
              
            </div>
            <div class="padding-tops">
              <div class="row">
                
                <div class="col-md-4">
                  <div class="display_flex">
                    <i class="fa fa-calendar" style="font-size:24px"></i>
                    <p class="joineds">{{userprofile.user_id.date_joined}}</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="display_flex">
                    <i class="fa fa-phone" style="font-size:24px"></i>
                    <p class="joineds">+{{userprofile.tel_code}} {{userprofile.phone}}</p>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="display_flex">
                    <i class="fa fa-envelope" style="font-size:24px"></i>
                    <p class="joineds">{{userprofile.user_id.email}}</p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12 padding-lefts">
                
                <div class="tabbable-panel">
                  <div class="tabbable-line">
                    <ul class="nav nav-tabs" >
                      <li class="active" style="
                      {% if request.user.userx.user_type.type_name == 'customer' %}width: 50%{% endif%}">
                        <a href="{% url 'dashboard:EditProfile' %}">Edit Profile</a>
                      </li>
                      <li style="
                      {% if request.user.userx.user_type.type_name == 'customer' %}width: 50%{% endif%}">
                        <!-- <a href="{% url 'chat:Chat'  %}?chatbahesroom=chatbahesroom">Chat</a> -->
                         <a href="{% url 'chat:Chat'%}?chatbahesroom=chatbahesroom">Chat
                 {% if request.user|total_message_counter %}<span id="totalmessagecount">{{request.user|total_message_counter}}</span>{% endif %}</a>
                        
                      </li>
                      
                      {% if request.user.userx.user_type.type_name == 'supplier' %}
                          <li >
                            <a href="{% url 'services:Services' %}">My services</a>
                            
                          </li>
                          <li>
                            <a href="{% url 'products:product'%}">My products</a>
                          </li>
                          {% else %}
                          {% endif %}
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Tabs content -->
          <div class="tab-content profile-form" id="v-pills-tabContent">
            <div>
              {% if messages %}
                {% for message in messages %}
                  
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                  {% endif %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    
                    <div class="alert alert-success alert-dismissible" style="text-align: left;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                  {% endif %}
                  
                {% endfor %}
              {% endif %}
            </div>
            {% if flag == 'profile' %}
            <div class="tab-pane fade  show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              
              
              <form method="POST">
                {% csrf_token %}
                 <div class="row">
                   <div class="col-md-6">
                <div class="form-group">
                  <label class="bold-font">Full Name</label>
                  <input type="text" class="form-control"  value="{{userprofile.full_name}}" name="full_name"required="">
                </div>
              </div>
                
               
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">Country</label>
                      <!-- <input type="text" class="form-control" value="{{userprofile.country.country_name}}" name="country" required=""> -->
                       <select class="form-control country" id="id_country" name="country" >
                        {% if get_countries %}
                           {% for data in get_countries %}
                            {% if data.country_name == userprofile.country.country_name %}
                          
                            <option  value="{{data.id}}" selected="">{{data.country_name}}</option> 
                          
                            
                            {% else %}
                            <option value="{{data.id}}">{{data.country_name}}</option>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                          </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">Mobile Number</label>
                      <div class="row">
                        <div class="col-md-3 pr-1">
                      <input type="text" class="form-control" id="tel" value="{{userprofile.country.country_tel_code}}" name="tel_code" required="">
                    </div>
                      <div class="col-md-9 pl-0">
                      <input type="text" class="form-control" value="{{userprofile.phone}}" name="phone" required="">
                    </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">Email</label>
                      <input type="email" class="form-control" disabled="" value="{{userprofile.user_id.email}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </div>
              </form>
            </div>
            {% else %}
             <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              
              
              <form method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                <div class="form-group">
                  <label class="bold-font">Full Name</label>
                  <input type="text" class="form-control"  value="{{userprofile.full_name}}" name="full_name"required="">
                </div>
                 </div>
                
                

                    <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">Country</label>
                      <!-- <input type="text" class="form-control" value="{{userprofile.country.country_name}}" name="country" required=""> -->
                       <select class="form-control" id="id_country" name="country" >
                        {% if get_countries %}
                           {% for data in get_countries %}
                            {% if data.country_name == userprofile.country.country_name %}
                          
                            <option  value="{{data.id}}" selected="">{{data.country_name}}</option> 
                          
                            
                            {% else %}
                            <option value="{{data.id}}">{{data.country_name}}</option>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                          </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">Mobile Number</label>
                      <div class="row">
                        <div class="col-md-3 pr-1">
                      <input type="text" class="form-control" id="tel" value="{{userprofile.country.country_tel_code}}" name="tel_code" required="">
                    </div>
                      <div class="col-md-9 pl-0">
                      <input type="text" class="form-control" value="{{userprofile.phone}}" name="phone" required="">
                    </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">Email</label>
                      <input type="email" class="form-control" disabled="" value="{{userprofile.user_id.email}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}
            {% if flag == 'change_password' %}
            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label class="bold-font">Old Password</label>
                  {{form.old_password}}
                  <!-- <input type="" class="form-control"  placeholder=""> -->
                  
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">New Password</label>
                      {{form.new_password1}}
                      <!-- <input type="" class="form-control" > -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">Confirm Password</label>
                      {{form.new_password2}}
                      <!-- <input type="email" class="form-control" > -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </div>
                
              </form>
            </div>
            {% else %}
             <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label class="bold-font">Old Password</label>
                  {{form.old_password}}
                  <!-- <input type="" class="form-control"  placeholder=""> -->
                  
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">New Password</label>
                      {{form.new_password1}}
                      <!-- <input type="" class="form-control" > -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">Confirm Password</label>
                      {{form.new_password2}}
                      <!-- <input type="email" class="form-control" > -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </div>
                
              </form>
            </div>
            {% endif %}
            
            
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--image crop modal start-->
  <div id="uploadimageModal_edit" class="modal" role="dialog">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Upload & Crop Image</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 text-center">
              <div id="profile_image_edit" style="width:300px; margin-top:30px"></div>
            </div>
            <div class="col-md-4" style="padding-top:10px;">
              <br />
              <br />
              <br/>
              <div class="row">
                <div class="col-md-12 set_loader"></div>
              </div>
              <!--<button class="btn btn-success crop_image_edit">Crop Image</button>-->
            </div>
          </div>
        </div>
        
        <form method="POST" action="/dashboard/profile-change/">
          {% csrf_token %}
          
          <input type="hidden" name="profilepic" id="profile_image" />
          <div class="modal-footer">
            <button class="btn btn-success crop_image_edit">Upload Image</button>
          </form>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--image crop modal end-->
{% endblock %}
{% block script %}
  <script>
  $(document).ready(function () {
  $image_crop = $("#profile_image_edit").croppie({
  enableExif: false,
  viewport: {
  width: 289,
  height: 289,
  type: "square",
  },
  boundary: {
  width: 400,
  height: 400,
  },
  enableOrientation: false,
  });
  $("#id_Profile_Image").on("change", function () {
  var set_status = true;
  var reader = new FileReader();
  var fi = document.getElementById('id_Profile_Image');
  if (fi.files.length > 0) {
  for (var i = 0; i <= fi.files.length - 1; i++) {
  
  var fsize = fi.files.item(i).size;
  // console.log(fsize)
  var file = Math.round((fsize / 1024));
  console.log(file);
  if (file > 3072) {
  
  alert("Image is too Big, please select a image less than 3MB size.");
  }
  else
  {
  reader.onload = function (event) {
  var image = new Image();
  image.src = event.target.result;
  //Validate the File Height and Width.
  image.onload = function () {
  var height = this.height;
  var width = this.width;
  if (height >= 289 && width >= 289) {
  $image_crop
  .croppie("bind", {
  url: event.target.result,
  })
  .then(function () {
  console.log("jQuery bind complete");
  });
  $("#uploadimageModal_edit").modal("show");
  } else {
  set_status = false;
  alert("Please select image greater that 289*289px.");
  }
  };
  };
  
  }
  
  }
  }
  if (set_status) {
  reader.readAsDataURL(this.files[0]);
  }
  });
  $(".crop_image_edit").click(function (event) {
  $(".crop_image_edit").html("Image Uploading");
  $(".crop_image_edit").attr("disabled", true);
  $image_crop
  .croppie("result", {
  type: "canvas",
  size: "viewport",
  })
  .then(function (response) {
  $(".crop_image_edit").html("Image Upload");
  $(".crop_image_edit").attr("disabled", false);
  $("#profile_image").val(response);
  $("#show_cropped_image").html('<img src="' + response + '">');
  $("#uploadimageModal_edit").modal("hide");
  });
  });
  });
  </script>
  <script type="text/javascript">
  //---------active and deactive status Start----------------
  $(document).on('click', ".online_status", function (e) {
  
  var onlinestatus = $(e.currentTarget).attr('onlinestatus');
  var userid = $(e.currentTarget).attr('userid');
  
  var dataString = 'onlinestatus='+onlinestatus+'&userid='+userid;
  var token = '{{csrf_token}}';
  $.ajax({
  method:"POST",
  headers: { "X-CSRFToken": token },
  url: "/dashboard/onlinestatus/",
  data: dataString,
  dataType:"json",
  cache: false,
  success: function (data) {
  
  location.reload();
  }
  });
  
  });
  //---------active and deactive service End----------------
  </script>



  <script type="text/javascript">
  $(document).on("click",".country",function(){
  var country_id = $("#id_country").val();
  // console.log(country_id);
  {% if get_countries %}
    {% for data in get_countries %}
    // console.log('{{data.id}}');
      if({{data.id}} == country_id)
      {
      $('#tel').val('{{data.country_tel_code}}');
      }
    {% endfor %}
  {% endif %}
  });
  </script>

{% endblock %}