{% extends 'base_template.html' %}
{% load static %}
{% block content %}
  {% if request.user.userx.user_type.type_name == 'supplier' %}
  <div class="banner-profile" style="background: url({{'supplierdashboard'|get_banner_img}}) no-repeat center top;">
    {% else %}
     <div class="banner-profile" style="background: url({{'customerdashboard'|get_banner_img}}) no-repeat center top;">
 {% endif %}
    <div class="profile-overlay">
      <div class="container">
        <div class="heading-title supplies text-center">
          <h1>
          <div class="left-cricle"></div>
          <div class="right-cricle"></div>
          <span>My Profile</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcr4eam">
    <div class="container">
      <nav class="breadcrumb-new">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">My Profile</a></li>
          
        </ol>
      </nav>
      
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      {% include 'dashboard_base_sidebar.html' %}
      <div>
        {% if messages %}
          {% for message in messages %}
            
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                <strong>{{message}}</strong>
              </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              
              <div class="alert alert-success alert-dismissible" style="text-align: left;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                <strong>{{message}}</strong>
              </div>
            {% endif %}
            
          {% endfor %}
        {% endif %}
      </div>
      <div class="main-roww">
        <div class="row">
          <div class="Dashboardd">
            <h3>Update Password</h3>
            <a href="{% url 'chat:ChatUser' %}" class="btn btn-primary"><i class="fa fa-comments" aria-hidden="true"></i> Chat Now</a>
          </div>
          <div class="col-md-12">
            <div class="form-size">
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label class="bold-font">Old Password</label>
                  {{form.old_password}}
                  
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">New Password</label>
                      {{form.new_password1}}
                      
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bold-font">Confirm Password</label>
                      {{form.new_password2}}
                      
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </div>
                
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}