{% load static %}
{% if get_supplier_data %}
{% for data in get_supplier_data|slice:":5" %}


<li class="{% if forloop.counter == 5 %}overcount{% endif %}"><a href="{% url 'findsupplier:FindSupplier'%}?&service={{data.tailor_speci_id.tailor_speci}}">
	{% if data.user_id.userx.image %}<img src="{{data.user_id.userx.image.url}}" alt=""/>{% else %}<img src="{% static 'images/user-(1).png'%}" alt=""/>{% endif %}
{% if forloop.counter == 5 %}<span>{{get_supplier_count|add:'-4'}} +</span>{% endif %}</a></li>
{% endfor %}
{% endif %}
